
		{% if actividadesInspeccionadas %}
			{% for key, tag in actividadesInspeccionadas %}
				{% if tag.tipoActividad.vars.data.id == 2 or tag.tipoActividad.vars.data.id == 16 or tag.tipoActividad.vars.data.id == 17 or tag.tipoActividad.vars.data.id == 18 %}
        <tr class="fields">
					<td>
						<div class="col-sm-12">
							{{ form_widget(tag.tipoActividad) }}
							{{ form_errors(tag.tipoActividad) }}
						</div>
					</td>
					<td>
						<div class="col-sm-12">
							{{ form_widget(tag.especie) }}
							{{ form_errors(tag.especie) }}
						</div>
					</td>
					<td>
						<div class="col-sm-12">
							{{ form_widget(tag.fechaInspeccion) }}
							{{ form_errors(tag.fechaInspeccion) }}
						</div>
					</td>
					<td>
						<div class="col-sm-12">
							{{ form_widget(tag.superficieHa) }}
							{{ form_errors(tag.superficieHa) }}
						</div>
					</td>
          <td>
            <div class="col-sm-12">
              {{ form_widget(tag.edadPlantacion) }}
              {{ form_errors(tag.edadPlantacion) }}
            </div>
          </td>
					<td>
            <div class="col-sm-12">
              {{ form_widget(tag.numeroPoda) }}
              {{ form_errors(tag.numeroPoda) }}
            </div>
          </td>
					<td>
            <div class="col-sm-12">
              {{ form_widget(tag.cantidadArbolesPodados) }}
              {{ form_errors(tag.cantidadArbolesPodados) }}
            </div>
          </td>
					<td>
            <div class="col-sm-12">
              {{ form_widget(tag.dapPromedio) }}
              {{ form_errors(tag.dapPromedio) }}
            </div>
          </td>
					<td>
            <div class="col-sm-12">
              {{ form_widget(tag.alturaPromedioPlantacion) }}
              {{ form_errors(tag.alturaPromedioPlantacion) }}
            </div>
          </td>
					<td>
            <div class="col-sm-12">
              {{ form_widget(tag.alturaPoda) }}
              {{ form_errors(tag.alturaPoda) }}
            </div>
          </td>
					<td>
						<div class="col-sm-12">
							{{ form_widget(tag.responsable) }}
							{{ form_errors(tag.responsable) }}
						</div>
					</td>
					<td>
						<div class="col-sm-12">
							{{ form_widget(tag.tipoInspeccion) }}
							{{ form_errors(tag.tipoInspeccion) }}
						</div>
					</td>
					<td>
						<div class="col-sm-12">
							{{ form_widget(tag.tecnico) }}
							{{ form_errors(tag.tecnico) }}
						</div>
					</td>
					{% if expediente.agrupador == true %}
						<td>
							<div class="form-row">
								<div class="col-md-8 mb-3">
									{{form_widget(tag.titularAgrupado)}}
								</div>
								<div class="col-md-4 mb-3">
									<div class="form-row">
										<div class="col-md-6">
											<button id="add-titular-agrupado" data-index='{{key}}' data-name="appbundle_expedientes_actividadesInspeccionadas_" class="btn btn-default add-titular-agrupado" type="button" data-toggle="modal" data-target="#titular-agrupado-modal">
												<span class="fa fa-search" aria-hidden="true"></span>
											</button>
										</div>
										<div class="col-md-6">
											<button id="remove-titular-agrupado" data-index='{{key}}' data-name="appbundle_expedientes_actividadesInspeccionadas_" class="btn btn-default remove-titular-agrupado" type="button">
												<span class="fa fa-remove" aria-hidden="true"></span>
											</button>
										</div>
									</div>
								</div>
							</div>
							{{form_widget(tag.titular_agrupado_id)}}
						</td>
					{% endif %}
					{% if expediente.plurianual %}
	        <td>
	        		<div class="col-sm-12">
	        			{{ form_widget(tag.etapa) }}
	              {{ form_errors(tag.etapa) }}
	        		</div>
	        </td>
	        {% endif %}
          <td>
            <div class="col-sm-12">
              {{ form_widget(tag.observacion) }}
              {{ form_errors(tag.observacion) }}
            </div>
          </td>
          {% do tag.densidadPrevia.setRendered() %}
					{% do tag.densidad.setRendered() %}
          {% do tag.numeroArbolesExtraidos.setRendered() %}
					{% do tag.porcentajeFallas.setRendered() %}
					{% do tag.turnoCorta.setRendered() %}
					{% do tag.riego.setRendered() %}
					{% do tag.edadCepa.setRendered() %}
          {% do tag.edadRebrote.setRendered() %}
          {% do tag.numeroBrotesCepas.setRendered() %}
					{% do tag.longitudFilas.setRendered() %}
          {% do tag.numeroFilas.setRendered() %}
          {% do tag.distanciaPlantas.setRendered() %}
          {% do tag.cantidadArboles.setRendered() %}
          <td>
            <a class="btn btn-danger btn-sm pull-right remove-actividad-inspeccionada remove_nested_fields" data-association="actividades_inspeccionadas">
              <span class="fa fa-remove text-white" aria-hidden="true"></span>
            </a>
          </td>
        </tr>
				{% endif %}
			{% endfor %}
		{% endif %}
