<div class="table-responsive">
  <table id="disposiciones-provinciales" class="table table-striped">
    <thead>
      <tr>
        <th>Resolución Nro.</th>
        <th>Fecha Entrada</th>
        <th>Fecha Salida</th>
        <th>Observación</th>
        <th></th>
      </tr>
    </thead>
    <tbody class="disposicionesProvinciales" data-index="{{ disposicionesProvinciales|length }}" data-prototype="{% filter escape %}{% include 'disposiciones_provinciales/prototype.html.twig' with {'form': disposicionesProvinciales.vars.prototype } %}{% endfilter %}">
      {% if disposicionesProvinciales %}
        {% for tag in disposicionesProvinciales %}
        <tr class="fields">
          <td>
          	<div class="col-sm-12">
          		{{ form_widget(tag.resolucionNumero) }}
              {{ form_errors(tag.resolucionNumero) }}
          	</div>
          </td>
          <td>
          		<div class="col-sm-12">
          			{{ form_widget(tag.fechaEntrada) }}
                {{ form_errors(tag.fechaEntrada) }}
          		</div>
          </td>
          <td>
            <div class="col-sm-12">
              {{ form_widget(tag.fechaSalida) }}
              {{ form_errors(tag.fechaSalida) }}
            </div>
          </td>
          <td>
          		<div class="col-sm-12">
          			{{ form_widget(tag.observacion) }}
                {{ form_errors(tag.observacion) }}
          		</div>
          </td>
          <td>
          	<a class="btn btn-danger btn-sm pull-right remove-disposicion-provincial remove_nested_fields" data-association="disposiciones_provinciales">
              <span class="fa fa-remove text-white" aria-hidden="true"></span>
          	</a>
          </td>
        </tr>
      {% endfor %}
    {% endif %}
    </tbody>
  </table>
  <a id="add-disposicion-provincial" class="btn btn-primary btn-sm add_nested_fields" data-target="#disposicion-provincial" href="javascript:void(0)">
    <span class="fa fa-plus" aria-hidden="true"></span>
    Agregar Disposición Provincial
  </a>
</div>

{% block javascripts %}
  <script src="{{ asset('js/disposiciones_provinciales.js') }}"></script>
{% endblock %}
