{% form_theme edit_form 'bootstrap_4_layout.html.twig' %}
{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
      <div class="col-md-5">
        <h2>Editar Expediente</h2>
        {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}
            <input type="submit" value="Edit" />
        {{ form_end(edit_form) }}

        <ul>
            <li>
                <a href="{{ path('expedientes_index') }}">Back to the list</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                    <input type="submit" value="Delete">
                {{ form_end(delete_form) }}
            </li>
        </ul>
      </div>
  </div>
{% endblock %}
