{% extends 'base.html.twig' %}
{% block title %}{{parent()}}
	- Editar Expediente{% endblock %}
{% form_theme edit_form 'bootstrap_4_horizontal_layout.html.twig' %}

{% block body %}
	{% embed "titulares/modal_search.html.twig" %}
	{% endembed %}
	{% embed "representantes_legales/modal_search.html.twig" %}
	{% endembed %}
	{% embed "profesionales/modal_search.html.twig" %}
	{% endembed %}
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-12">
				<div class="nav nav-pills nav-justified border bg-light">
					<a class="nav-item nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-expediente" role="tab" aria-controls="v-pills-home" aria-selected="true">Expediente</a>
					<a class="nav-item nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-presentacion" role="tab" aria-controls="v-pills-profile" aria-selected="false">Presentación</a>
					<a class="nav-item nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-certificacion" role="tab" aria-controls="v-pills-profile" aria-selected="false">Certificación</a>
					<a class="nav-item nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-inspeccion" role="tab" aria-controls="v-pills-messages" aria-selected="false">Inspección</a>
					<a class="nav-item nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-sig" role="tab" aria-controls="v-pills-settings" aria-selected="false">SIG</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				{{ form_start(edit_form) }}
				<div class="tab-content" id="v-pills-tabContent">
					<div class="tab-pane fade show active" id="v-pills-expediente" role="tabpanel" aria-labelledby="v-pills-expediente-tab">
						<div class="col-md-10 mx-auto bg-light">
							<h4>Editar Expediente</h4>
							{{form_row(edit_form.numeroExpediente)}}
							{{form_row(edit_form.numeroInterno)}}
							<div class="form-group row">
								{{ form_label(edit_form.titulares, null, {'label_attr': {'class': 'col-sm-2 form-control-label'}}) }}
								<div class="col-sm-10">
									{{form_widget(edit_form.titulares)}}
									<div class="row pull-right">
										<div class="pull-right">
											<button type="button" class="btn btn-secondary btn-xs" data-toggle="modal" data-target="#titulares-modal" id="add-titular">
												<span class="fa fa-plus" aria-hidden="true"></span>
												Asociar
											</button>
											<button type="button" class="btn btn-secondary btn-xs" id="remove-titular">
												<span class="fa fa-remove" aria-hidden="true"></span>
												Eliminar
											</button>
										</div>
									</div>
								</div>
							</div>
							<div class="form-group row">
								{{ form_label(edit_form.profesionalCargo, null, {'label_attr': {'class': 'col-sm-2 form-control-label'}}) }}
								<div class="col-sm-10">
									<div class="row">
										<div class="col-sm-10">
											{{form_widget(edit_form.profesionalCargo)}}
										</div>
										<div class="col-sm-2">
											<span class="form-group">
												<button id="add-profesional" class="btn btn-default" type="button" data-toggle="modal" data-target="#profesionales-modal">
													<span class="fa fa-search" aria-hidden="true"></span>
												</button>
												<button id="remove-profesional" class="btn btn-default" type="button">
													<span class="fa fa-remove" aria-hidden="true"></span>
												</button>
											</span>
										</div>
									</div>
								</div>
							</div>
							<div class="form-group row">
								{{ form_label(edit_form.representanteLegal, null, {'label_attr': {'class': 'col-sm-2 form-control-label'}}) }}
								<div class="col-sm-10">
									<div class="row">
										<div class="col-sm-10">
											{{form_widget(edit_form.representanteLegal)}}
										</div>
										<div class="col-sm-2">
											<span class="form-group">
												<button id="add-representante-legal" class="btn btn-default" type="button" data-toggle="modal" data-target="#representante-legal-modal">
													<span class="fa fa-search" aria-hidden="true"></span>
												</button>
												<button id="remove-representante-legal" class="btn btn-default" type="button">
													<span class="fa fa-remove" aria-hidden="true"></span>
												</button>
											</span>
										</div>
									</div>
								</div>
							</div>
							{% embed "cobros_beneficios/table.html.twig" with {
								'cobrosBeneficios' : edit_form.cobroBeneficios
							} %}{% endembed %}
							{{form_row(edit_form.fechaPresentacion)}}
							{{form_row(edit_form.fechaIngreso)}}
							{{form_row(edit_form.fechaFin)}}
							{{form_row(edit_form.estado)}}
							{{form_row(edit_form.estadoAreaContable)}}
							{{form_row(edit_form.estadoAreaLegales)}}
							{{form_row(edit_form.estadoAreaPromocion)}}
							{{form_row(edit_form.estadoAreaSig)}}
							{{form_row(edit_form.estadoForestoIndustriales)}}
							{{form_row(edit_form.areaEncuentraExpediente)}}
							{{form_row(edit_form.departamento)}}
							{{form_row(edit_form.anio)}}
							{{form_row(edit_form.solicitaAdelanto)}}
						</div>
					</div>
					<div class="tab-pane fade" id="v-pills-presentacion" role="tabpanel" aria-labelledby="v-pills-presentacion-tab">
						<h4>Editar Actividades Presentadas</h4>
						{% embed "actividadespresentadas/table.html.twig" with {
							'actividadesPresentadas' : edit_form.actividadesPresentadas
						} %}{% endembed %}
					</div>
					<div class="tab-pane fade" id="v-pills-certificacion" role="tabpanel" aria-labelledby="v-pills-profile-tab">
						<h4>Editar Actividades Certificadas</h4>
						{% embed "actividadescertificadas/table.html.twig" with {
							'actividadesCertificadas' : edit_form.actividadesCertificadas
						} %}{% endembed %}
					</div>
					<div class="tab-pane fade" id="v-pills-inspeccion" role="tabpanel" aria-labelledby="v-pills-messages-tab">
						<h4>Editar Actividades Inspeccionadas</h4>
						{% embed "actividadesinspeccionadas/table.html.twig" with {
							'actividadesInspeccionadas' : edit_form.actividadesInspeccionadas
						} %}{% endembed %}
					</div>
					<div class="tab-pane fade" id="v-pills-sig" role="tabpanel" aria-labelledby="v-pills-settings-tab">
						<h4>Editar Actividades SIG</h4>
						{% embed "actividadessig/table.html.twig" with {
							'actividadesSig' : edit_form.actividadesSig
						} %}{% endembed %}
					</div>
				</div>
				<button type="submit" class="btn btn-primary pull-right">Editar</button>
				{{ form_end(edit_form) }}
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{parent()}}
	<script src="{{ asset('js/expedientes.js') }}"></script>
{% endblock %}
