{% extends 'base.html.twig' %}
{% block title %}{{parent()}} - Expedientes{% endblock %}
{% block body %}
      <div class="row">
        <div class="col-3">
          <div class="card card-primary">
            <div class="card-header bg-info text-white">
              Buscador de Expedientes
            </div>
            <div class="card-body">
            </div>
          </div>
        </div>
        <div class="col-9">
          <h4>Listado de Expedientes</h4>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Numero Interno</th>
                <th scope="col">Numero Expediente</th>
                <th scope="col">Titular</th>
                <th scope="col">Representante Legal</th>
                <th scope="col">Profesional a Cargo</th>
                <th scope="col">Fecha Ingreso</th>
                <th scope="col">Fecha Fin</th>
              </tr>
            </thead>
            <tbody>
              {% for expediente in expedientes %}
              <tr data-link="{{ path('expedientes_show', { 'id': expediente.id }) }}">
                <td><a href="{{ path('expedientes_show', { 'id': expediente.id }) }}">{{ expediente.id }}</a></td>
                <td>{{ expediente.numeroInterno }}</td>
                <td>{{ expediente.numeroExpediente }}</td>
                <td><abbr title="{{ expediente.titular.apellidoNombre }}" data-length="10">{{ expediente.titular.apellidoNombre }}</abbr></td>
                <td>{{ expediente.representanteLegal }}</td>
                <td><abbr title="{{ expediente.profesionalCargo }}" data-length="10">{{ expediente.profesionalCargo }}</abbr></td>
                <td>{% if expediente.fechaIngreso %}{{ expediente.fechaIngreso|date('Y-m-d') }}{% endif %}</td>
                <td>{% if expediente.fechaFin %}{{ expediente.fechaFin|date('Y-m-d') }}{% endif %}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <div class="well well-sm clearfix">
            <div class="pagination-info pull-left">
              Mostrando <b>
              {% if expedientes|length < 15 %}
                {{ expedientes.getTotalItemCount }}</b>
              {% else %}
                {{(expedientes.getItemNumberPerPage * expedientes.getCurrentPageNumber) - (expedientes.getItemNumberPerPage -1) }} -
                {{expedientes.getItemNumberPerPage * expedientes.getCurrentPageNumber }}</b>
              {% endif %}
              de
                <b> {{ expedientes.getTotalItemCount }} </b>
            </div>
              <ul class="pagination pull-right">
                {{ knp_pagination_render(expedientes) }}
              </ul>
          </div>
        </div>
    </div>
{% endblock %}
