{% extends 'base.html.twig' %}

{% block title %}{{parent()}} - Expedientes{% endblock %}
{% block navbarRight %}
  {% if (is_granted('ROLE_ADMIN') or is_granted('ROLE_DATA_ENTRY')) %}
    <li class="nav-item active">
      <a class="nav-link" href="{{path('expedientes_new')}}"><span class="fa fa-plus" aria-hidden="true"></span> Nuevo Expediente</a>
    </li>
  {% endif %}
  {{parent()}}
{% endblock %}

{% block body %}
      <div class="row">
        <div class="col-3">
          <div class="card card-primary">
            <div class="card-header bg-info text-white">
              Buscador de Expedientes
            </div>
            <div class="card-body">
              {{ include('expedientes/search.html.twig', {'expedientes': expedientes}) }}
            </div>
          </div>
        </div>
        <div class="col-9">
          <h4>Listado de Expedientes</h4>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col"{% if expedientes.isSorted('a.numeroInterno') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(expedientes, 'Número Interno', 'a.numeroInterno') }}
                  {% if expedientes.isSorted('a.numeroInterno') %}
                      {% if expedientes.direction() == 'asc' %}<span class="fa fa-angle-up"></span>{% else %}<span class="fa fa-angle-down"></span>{% endif %}
                    {% endif %}
                  </th>
                <th scope="col"{% if expedientes.isSorted('a.numeroExpediente') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(expedientes, 'Número Expediente', 'a.numeroExpediente') }}
                  {% if expedientes.isSorted('a.numeroExpediente') %}
                      {% if expedientes.direction() == 'asc' %}<span class="fa fa-angle-up"></span>{% else %}<span class="fa fa-angle-down"></span>{% endif %}
                    {% endif %}
                  </th>
                <th scope="col">Titular</th>
                <th scope="col">Profesional a Cargo</th>
                <th{% if expedientes.isSorted('a.fechaIngreso') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(expedientes, 'Última Entrada', 'a.fechaIngreso') }}
                    {% if expedientes.isSorted('a.fechaIngreso') %}
                      {% if expedientes.direction() == 'asc' %}<span class="fa fa-angle-up"></span>{% else %}<span class="fa fa-angle-down"></span>{% endif %}
                    {% endif %}
                  </th>
                <th scope="col">Area</th>
              </tr>
            </thead>
            <tbody>
              {% for expediente in expedientes %}
              <tr data-link="{{ path('expedientes_show', { 'id': expediente.id }) }}">
                <td><a href="{{ path('expedientes_show', { 'id': expediente.id }) }}">{{ expediente.id }}</a></td>
                <td>{{ expediente.numeroInterno }}</td>
                <td>{{ expediente.numeroExpediente }}</td>
                <td>
                  {% for titular in expediente.titulares %}
                      <a href="{{path('titulares_show', { 'id': titular.id })}}"><abbr title="{{titular}}" data-length="10">{{titular}}</abbr></a>{% if loop.last == false %} | {% endif %}
                  {% endfor %}
                </td>
                <td><abbr title="{{ expediente.profesionalCargo }}" data-length="10">{{ expediente.profesionalCargo }}</abbr></td>
                <td>{% if expediente.fechaIngreso %}{{ expediente.fechaIngreso|date('Y-m-d') }}{% endif %}</td>
                <td>{{expediente.areaEncuentraExpediente}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {{ include('paginator/index.html.twig', {'items': expedientes}) }}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
  {{parent()}}
  <script src="{{ asset('js/expedientes_search.js') }}"></script>
{% endblock %}
