{% extends 'base.html.twig' %}
{% block title %}{{parent()}}
	- Nuevo Expediente{% endblock %}
{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

{% block body %}
	{% embed "titulares/modal_search.html.twig" %}
	{% endembed %}
	{% embed "representantes_legales/modal_search.html.twig" %}
	{% endembed %}
	{% embed "profesionales/modal_search.html.twig" %}
	{% endembed %}
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-12">
				<div class="nav nav-pills flex-column flex-sm-row nav-fill bg-light">
					{% if (is_granted('ROLE_ADMIN') or is_granted('ROLE_DATA_ENTRY')) %}
						<a class="nav-item nav-link active border" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-expediente" role="tab" aria-controls="v-pills-home" aria-selected="true">Presentación</a>
					{% endif %}
					{% if form.disposicionesProvinciales is defined and form.impactosAmbientales is defined %}
						<a class="nav-item nav-link border" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-evaluacion-provincial" role="tab" aria-controls="v-pills-messages" aria-selected="false">Evaluación Provincial</a>
					{% endif %}
					{% if form.actividadesCertificadas is defined and form.predios is defined%}
						<a class="nav-item nav-link border" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-certificacion" role="tab" aria-controls="v-pills-profile" aria-selected="false">Certificación</a>
					{% endif %}
					{% if form.actividadesInspeccionadas is defined %}
						<a class="nav-item nav-link border" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-inspeccion" role="tab" aria-controls="v-pills-messages" aria-selected="false">Inspección</a>
					{% endif %}
					{% if form.documentaciones is defined %}
						<a class="nav-item nav-link border" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-documentacion" role="tab" aria-controls="v-pills-messages" aria-selected="false">Documentación</a>
					{% endif %}
					{% if form.estadoSituaciones is defined %}
						<a class="nav-item nav-link border" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-estado-situacion" role="tab" aria-controls="v-pills-messages" aria-selected="false">Estado de Situación</a>
					{% endif %}
					{% if form.beneficiosFiscalesSolicitados is defined %}
						<a class="nav-item nav-link border" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-beneficio-fiscal-solicitado" role="tab" aria-controls="v-pills-messages" aria-selected="false">Beneficio Fiscal Carga</a>
					{% endif %}
					{% if form.historialContables is defined %}
						<a class="nav-item nav-link border" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-analisis-area-contable" role="tab" aria-controls="v-pills-messages" aria-selected="false">Análisis Área Contable</a>
					{% endif %}
					{% if form.beneficiosFiscales is defined %}
						<a class="nav-item nav-link border" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-beneficio-fiscal" role="tab" aria-controls="v-pills-messages" aria-selected="false">Beneficio Fiscal Análisis</a>
					{% endif %}
					{% if form.garantias is defined %}
						<a class="nav-item nav-link border" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-garantias-presentadas" role="tab" aria-controls="v-pills-messages" aria-selected="false">Garantías Presentadas</a>
					{% endif %}
					{% if form.estabilidadFiscales is defined %}
						<a class="nav-item nav-link border" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-estabilidad-fiscal" role="tab" aria-controls="v-pills-messages" aria-selected="false">Estabilidad Fiscal</a>
					{% endif %}
					{% if form.declaracionesIvas is defined %}
						<a class="nav-item nav-link border" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-declaracion-iva" role="tab" aria-controls="v-pills-messages" aria-selected="false">IVA</a>
					{% endif %}
					{% if form.declaracionIvaResoluciones is defined %}
						<a class="nav-item nav-link border" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-declaracion-iva-resolucion" role="tab" aria-controls="v-pills-messages" aria-selected="false">IVA por resolución</a>
					{% endif %}
					{% if form.historialLegales is defined %}
						<a class="nav-item nav-link border" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-analisis-area-legal" role="tab" aria-controls="v-pills-messages" aria-selected="false">Análisis Área Legales</a>
					{% endif %}
					{% if form.resoluciones is defined %}
						<a class="nav-item nav-link border" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-resoluciones" role="tab" aria-controls="v-pills-messages" aria-selected="false">Resoluciones</a>
					{% endif %}
					{% if form.historialPromociones is defined %}
						<a class="nav-item nav-link border" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-analisis-area-promocion" role="tab" aria-controls="v-pills-messages" aria-selected="false">Análisis Área Promoción</a>
					{% endif %}
					{% if form.actividadesAprobadas is defined %}
						<a class="nav-item nav-link border" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-actividades-aprobadas" role="tab" aria-controls="v-pills-messages" aria-selected="false">Aprobación Promoción</a>
					{% endif %}
					{% if form.historialForestoIndustriales is defined %}
						<a class="nav-item nav-link border" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-analisis-area-foresto-industrial" role="tab" aria-controls="v-pills-messages" aria-selected="false">Análisis Área Foresto Industrial</a>
					{% endif %}
					{% if form.produccionesVolumetricas is defined %}
						<a class="nav-item nav-link border" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-producciones-volumetricas" role="tab" aria-controls="v-pills-messages" aria-selected="false">Producciones Volumétricas</a>
					{% endif %}
					{% if form.cronogramaPlantaciones is defined %}
						<a class="nav-item nav-link border" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-cronograma-plantacion" role="tab" aria-controls="v-pills-messages" aria-selected="false">Cronograma Plantaciones</a>
					{% endif %}
					{% if form.historialSigs is defined %}
						<a class="nav-item nav-link border" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-analisis-area-sig" role="tab" aria-controls="v-pills-messages" aria-selected="false">Análisis Área SIG</a>
					{% endif %}
					{% if form.actividadesSig is defined %}
						<a class="nav-item nav-link border" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-sig" role="tab" aria-controls="v-pills-settings" aria-selected="false">Aprobación SIG</a>
					{% endif %}
					{% if (is_granted('ROLE_PROMOCION') or is_granted('ROLE_LEGALES')) %}
						<a class="nav-item nav-link border" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-estado" role="tab" aria-controls="v-pills-home" aria-selected="true">Estado</a>
					{% endif %}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				{{ form_start(form) }}
				<div class="tab-content" id="v-pills-tabContent">
					{% if (is_granted('ROLE_ADMIN') or is_granted('ROLE_DATA_ENTRY')) %}
					<div class="tab-pane fade show active" id="v-pills-expediente" role="tabpanel" aria-labelledby="v-pills-expediente-tab">
						<div class="col-md-10 mx-auto bg-light">
							<h4>Nuevo Expediente</h4>
							{{form_row(form.numeroExpediente)}}
							{{form_row(form.numeroInterno)}}
							<div class="form-group row">
								{{ form_label(form.titulares, null, {'label_attr': {'class': 'col-sm-2 form-control-label'}}) }}
								<div class="col-sm-10">
									{{form_widget(form.titulares)}}
									<div class="row pull-right">
										<div class="pull-right">
											<button type="button" class="btn btn-secondary btn-xs" data-toggle="modal" data-target="#titulares-modal" id="add-titular">
												<span class="fa fa-plus" aria-hidden="true"></span>
												Asociar
											</button>
											<button type="button" class="btn btn-secondary btn-xs" id="remove-titular">
												<span class="fa fa-remove" aria-hidden="true"></span>
												Eliminar
											</button>
										</div>
									</div>
								</div>
							</div>
							<div class="form-group row">
								{{ form_label(form.profesionalCargo, null, {'label_attr': {'class': 'col-sm-2 form-control-label'}}) }}
								<div class="col-sm-10">
									<div class="row">
										<div class="col-sm-10">
											{{form_widget(form.profesionalCargo)}}
										</div>
										<div class="col-sm-2">
											<span class="form-group">
												<button id="add-profesional" class="btn btn-default" type="button" data-toggle="modal" data-target="#profesionales-modal">
													<span class="fa fa-search" aria-hidden="true"></span>
												</button>
												<button id="remove-profesional" class="btn btn-default" type="button">
													<span class="fa fa-remove" aria-hidden="true"></span>
												</button>
											</span>
										</div>
									</div>
								</div>
							</div>
							<div class="form-group row">
								{{ form_label(form.representanteLegal, null, {'label_attr': {'class': 'col-sm-2 form-control-label'}}) }}
								<div class="col-sm-10">
									<div class="row">
										<div class="col-sm-10">
											{{form_widget(form.representanteLegal)}}
										</div>
										<div class="col-sm-2">
											<span class="form-group">
												<button id="add-representante-legal" class="btn btn-default" type="button" data-toggle="modal" data-target="#representante-legal-modal">
													<span class="fa fa-search" aria-hidden="true"></span>
												</button>
												<button id="remove-representante-legal" class="btn btn-default" type="button">
													<span class="fa fa-remove" aria-hidden="true"></span>
												</button>
											</span>
										</div>
									</div>
								</div>
							</div>
							{{form_row(form.fechaPresentacion)}}
							{{form_row(form.fechaIngreso)}}
							{% if form.estado is defined %}
								{{form_row(form.estado)}}
							{% endif %}
							{% if form.estadoAreaContable is defined %}
								{{form_row(form.estadoAreaContable)}}
							{% endif %}
							{% if form.estadoAreaLegales is defined %}
								{{form_row(form.estadoAreaLegales)}}
							{% endif %}
							{% if form.estadoAreaPromocion is defined %}
								{{form_row(form.estadoAreaPromocion)}}
							{% endif %}
							{% if form.estadoAreaSig is defined %}
								{{form_row(form.estadoAreaSig)}}
							{% endif %}
							{% if form.estadoForestoIndustriales is defined %}
								{{form_row(form.estadoForestoIndustriales)}}
							{% endif %}
							{{form_row(form.areaEncuentraExpediente)}}
							{{form_row(form.solicitaAdelanto)}}
							{{form_row(form.plurianual)}}
							{% if form.actividadesPresentadas is defined %}
									<h4>Actividades Presentadas</h4>
									{% embed "actividadespresentadas/table.html.twig" with {
										'actividadesPresentadas' : form.actividadesPresentadas
									} %}{% endembed %}
							{% endif %}
						</div>
					</div>
					{% endif %}
					{% if form.actividadesCertificadas is defined and form.predios is defined %}
					<div class="tab-pane fade" id="v-pills-certificacion" role="tabpanel" aria-labelledby="v-pills-profile-tab">
						<h4>Editar Actividades Certificadas</h4>
						{% embed "actividadescertificadas/table.html.twig" with {
							'actividadesCertificadas' : form.actividadesCertificadas
						} %}{% endembed %}
						<hr>
						<h4>Editar Predios</h4>
						{% embed "predios/table.html.twig" with {
							'predios' : form.predios
						} %}{% endembed %}
					</div>
					{% endif %}
					{% if form.actividadesInspeccionadas is defined %}
						<div class="tab-pane fade" id="v-pills-inspeccion" role="tabpanel" aria-labelledby="v-pills-messages-tab">
							<h4>Editar Actividades Inspeccionadas</h4>
							{% embed "actividadesinspeccionadas/table.html.twig" with {
								'actividadesInspeccionadas' : form.actividadesInspeccionadas
							} %}{% endembed %}
						</div>
					{% endif %}
					{% if form.documentaciones is defined %}
						<div class="tab-pane fade" id="v-pills-documentacion" role="tabpanel" aria-labelledby="v-pills-messages-tab">
							<h4>Editar Documentación</h4>
							{% embed "documentacion/table.html.twig" with {
								'documentacion' : form.documentaciones
							} %}{% endembed %}
						</div>
					{% endif %}
					{% if form.estadoSituaciones is defined %}
						<div class="tab-pane fade" id="v-pills-estado-situacion" role="tabpanel" aria-labelledby="v-pills-messages-tab">
							<h4>Editar Estado de Situación</h4>
							{% embed "estado_situacion/table.html.twig" with {
								'estadoSituaciones' : form.estadoSituaciones
							} %}{% endembed %}
						</div>
					{% endif %}
					{% if form.beneficiosFiscalesSolicitados is defined %}
						<div class="tab-pane fade" id="v-pills-beneficio-fiscal-solicitado" role="tabpanel" aria-labelledby="v-pills-messages-tab">
							<h4>Editar Beneficio Fiscal - Carga</h4>
							{% embed "beneficios_fiscales_solicitados/table.html.twig" with {
								'beneficiosFiscalesSolicitados' : form.beneficiosFiscalesSolicitados
							} %}{% endembed %}
						</div>
					{% endif %}
					{% if form.disposicionesProvinciales is defined and form.impactosAmbientales is defined %}
						<div class="tab-pane fade" id="v-pills-evaluacion-provincial" role="tabpanel" aria-labelledby="v-pills-messages-tab">
							<h4>Nueva Evaluación Provincial</h4>
							<div id="accordion">
							  <div class="card">
							    <div class="card-header" id="headingOne">
							      <h5 class="mb-0">
							        <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
							          <b> >> Impacto Ambiental</b>
							        </a>
							      </h5>
							    </div>
							    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
							      <div class="card-body">
							        <h4>Editar Impacto Ambiental</h4>
											{% embed "impactos_ambientales/table.html.twig" with {
											'impactosAmbientales' : form.impactosAmbientales
											} %}{% endembed %}
							      </div>
							    </div>
							  </div>
								<div class="card">
							    <div class="card-header" id="headingTwo">
							      <h5 class="mb-0">
							        <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
							          <b> >> OTBN</b>
							        </a>
							      </h5>
							    </div>
							    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
							      <div class="card-body">
											{% embed "otbns/table.html.twig" with {
											'otbns' : form.otbns
											} %}{% endembed %}
							      </div>
							    </div>
							  </div>
								<div class="card">
							    <div class="card-header" id="headingThree">
							      <h5 class="mb-0">
							        <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
							          <b> >> Técnico</b>
							        </a>
							      </h5>
							    </div>
							    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
							      <div class="card-body">
											{% embed "evaluacion_tecnicos/table.html.twig" with {
											'evaluacionTecnicos' : form.evaluacionTecnicos
											} %}{% endembed %}
							      </div>
							    </div>
							  </div>
								<div class="card">
							    <div class="card-header" id="headingFour">
							      <h5 class="mb-0">
							        <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
							          <b> >> Legal</b>
							        </a>
							      </h5>
							    </div>
							    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
							      <div class="card-body">
											{% embed "evaluacion_legales/table.html.twig" with {
											'evaluacionLegales' : form.evaluacionLegales
											} %}{% endembed %}
							      </div>
							    </div>
							  </div>
							</div>
						</div>
					{% endif %}
					{% if form.historialContables is defined %}
						<div class="tab-pane fade" id="v-pills-analisis-area-contable" role="tabpanel" aria-labelledby="v-pills-messages-tab">
							<h4>Editar Análisis del Área Contable</h4>
							{% embed "historial_contable/table.html.twig" with {
								'historialContables' : form.historialContables
							} %}{% endembed %}
						</div>
					{% endif %}
					{% if form.beneficiosFiscales is defined %}
						<div class="tab-pane fade" id="v-pills-beneficio-fiscal" role="tabpanel" aria-labelledby="v-pills-messages-tab">
							<h4>Beneficio Fiscal - Análisis</h4>
							{% embed "beneficios_fiscales/table.html.twig" with {
								'beneficiosFiscales' : form.beneficiosFiscales
							} %}{% endembed %}
						</div>
					{% endif %}
					{% if form.garantias is defined %}
						<div class="tab-pane fade" id="v-pills-garantias-presentadas" role="tabpanel" aria-labelledby="v-pills-messages-tab">
							<h4>Garantías Presentadas</h4>
							{% embed "garantias_presentadas/table.html.twig" with {
								'garantias' : form.garantias
							} %}{% endembed %}
						</div>
					{% endif %}
					{% if form.estabilidadFiscales is defined %}
						<div class="tab-pane fade" id="v-pills-estabilidad-fiscal" role="tabpanel" aria-labelledby="v-pills-messages-tab">
							<h4>Estabilidad Fiscal</h4>
							{% embed "estabilidad_fiscal/table.html.twig" with {
								'estabilidadFiscales' : form.estabilidadFiscales
							} %}{% endembed %}
						</div>
					{% endif %}
					{% if form.declaracionesIvas is defined %}
						<div class="tab-pane fade" id="v-pills-declaracion-iva" role="tabpanel" aria-labelledby="v-pills-messages-tab">
							<h4>Impuesto al valor agregado</h4>
							{% embed "declaracion_iva/table.html.twig" with {
								'declaracionesIva' : form.declaracionesIvas
							} %}{% endembed %}
						</div>
					{% endif %}
					{% if form.declaracionIvaResoluciones is defined %}
						<div class="tab-pane fade" id="v-pills-declaracion-iva-resolucion" role="tabpanel" aria-labelledby="v-pills-messages-tab">
							<h4>IVA por resolucion</h4>
							{% embed "declaracion_iva_resoluciones/table.html.twig" with {
								'declaracionesIvaResoluciones' : form.declaracionIvaResoluciones
							} %}{% endembed %}
						</div>
					{% endif %}
					{% if form.historialLegales is defined %}
						<div class="tab-pane fade" id="v-pills-analisis-area-legal" role="tabpanel" aria-labelledby="v-pills-messages-tab">
							<h4>Análisis Área Contable</h4>
							{% embed "historial_legales/table.html.twig" with {
								'historialLegales' : form.historialLegales
							} %}{% endembed %}
						</div>
					{% endif %}
					{% if form.resoluciones is defined %}
						<div class="tab-pane fade" id="v-pills-resoluciones" role="tabpanel" aria-labelledby="v-pills-messages-tab">
							<h4>Resoluciones</h4>
							{% embed "resoluciones/table.html.twig" with {
								'resoluciones' : form.resoluciones
							} %}{% endembed %}
						</div>
					{% endif %}
					{% if form.historialPromociones is defined %}
						<div class="tab-pane fade" id="v-pills-analisis-area-promocion" role="tabpanel" aria-labelledby="v-pills-messages-tab">
							<h4>Análisis Área Promoción</h4>
							{% embed "historial_promocion/table.html.twig" with {
								'historialPromociones' : form.historialPromociones
							} %}{% endembed %}
						</div>
					{% endif %}
					{% if form.actividadesAprobadas is defined %}
						<div class="tab-pane fade" id="v-pills-actividades-aprobadas" role="tabpanel" aria-labelledby="v-pills-messages-tab">
							<h4>Aprobación Promoción</h4>
							{% embed "actividadesaprobadas/table.html.twig" with {
								'actividadesAprobadas' : form.actividadesAprobadas
							} %}{% endembed %}
						</div>
					{% endif %}
					{% if form.actividadesAprobadas is defined %}
						<div class="tab-pane fade" id="v-pills-analisis-area-foresto-industrial" role="tabpanel" aria-labelledby="v-pills-messages-tab">
							<h4>Análisis del área Forestoindustrial</h4>
							{% embed "historial_foresto_industrial/table.html.twig" with {
								'historialForestoIndustriales' : form.historialForestoIndustriales
							} %}{% endembed %}
						</div>
					{% endif %}
					{% if form.produccionesVolumetricas is defined %}
						<div class="tab-pane fade" id="v-pills-producciones-volumetricas" role="tabpanel" aria-labelledby="v-pills-messages-tab">
							<h4>Producciones Volumétricas</h4>
							{% embed "producciones_volumetricas/table.html.twig" with {
								'produccionesVolumetricas' : form.produccionesVolumetricas
							} %}{% endembed %}
						</div>
					{% endif %}
					{% if form.cronogramaPlantaciones is defined %}
						<div class="tab-pane fade" id="v-pills-cronograma-plantacion" role="tabpanel" aria-labelledby="v-pills-messages-tab">
							<h4>Producciones Volumétricas</h4>
							{% embed "abastecimiento_aproximado/table.html.twig" with {
								'cronogramaPlantaciones' : form.cronogramaPlantaciones
							} %}{% endembed %}
						</div>
					{% endif %}
					{% if form.historialSigs is defined %}
						<div class="tab-pane fade" id="v-pills-analisis-area-sig" role="tabpanel" aria-labelledby="v-pills-messages-tab">
							<h4>Análisis Historial Sig</h4>
							{% embed "historial_sig/table.html.twig" with {
								'historialSigs' : form.historialSigs
							} %}{% endembed %}
						</div>
					{% endif %}
					{% if form.actividadesSig is defined %}
						<div class="tab-pane fade" id="v-pills-sig" role="tabpanel" aria-labelledby="v-pills-settings-tab">
							<h4>Aprobación SIG</h4>
							{% embed "actividadessig/table.html.twig" with {
								'actividadesSig' : form.actividadesSig
							} %}{% endembed %}
						</div>
					{% endif %}
					{% if (is_granted('ROLE_PROMOCION') or is_granted('ROLE_LEGALES')) %}
						<div class="tab-pane fade" id="v-pills-estado" role="tabpanel" aria-labelledby="v-pills-settings-tab">
							<h4>Estados</h4>
							{% if form.estado is defined %}
								{{form_row(form.estado)}}
							{% endif %}
							{% if form.estadoAreaPromocion is defined %}
								{{form_row(form.estadoAreaPromocion)}}
							{% endif %}
							{% if form.estadoAreaLegales is defined %}
								{{form_row(form.estadoAreaLegales)}}
							{% endif %}
							{% if form.areaEncuentraExpediente is defined %}
								{{form_row(form.areaEncuentraExpediente)}}
							{% endif %}
						</div>
					{% endif %}
				</div>
				<button type="submit" class="btn btn-primary pull-right">Crear</button>
				{{ form_end(form) }}
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{parent()}}
	<script src="{{ asset('js/expedientes.js') }}"></script>
{% endblock %}
