{% extends 'base.html.twig' %}

{% block title %}{{parent()}} - {{expediente.numeroExpediente}}{% endblock %}

{% block body %}
    <div class="col-md-12">
      <div class="row">
      <div class="col-md-3">
        <div class="card border-info">
          <div class="card-header bg-info text-white">
            Expediente
          </div>
          <div class="card-body">
            <dl class="row">
              <dt class="col-6">ID</dt>
              <dd class="col-6">{{ expediente.id }}</dd>
              <dt class="col-6">Numero Interno</dt>
              <dd class="col-6">{{ expediente.numeroInterno }}</dd>
              <dt class="col-6">Numero Expediente</dt>
              <dd class="col-6">{{ expediente.numeroExpediente }}</dd>
              <dt class="col-6">Titular</dt>
              <dd class="col-6"><a href="{{path('titulares_show', { 'id': expediente.titular.id })}}">{{ expediente.titular }}</a></dd>
              <dt class="col-6">Segundo Titular</dt>
              <dd class="col-6">
                {% if expediente.segundoTitular %}
                  <a href="{{path('titulares_show', { 'id': expediente.segundoTitular.id })}}">{{ expediente.segundoTitular }}</a>
                {% endif %}
              </dd>
              <dt class="col-6">Entidad Agrupadora</dt>
              <dd class="col-6"><a href="#">{{ expediente.entidadAgrupadoraId }}</a></dd>
              <dt class="col-6">Representante Legal</dt>
              <dd class="col-6">{{ expediente.representanteLegal }}</dd>
              <dt class="col-6">Profesional Cargo</dt>
              <dd class="col-6">{{ expediente.profesionalCargo }}</dd>
              <dt class="col-6">Fecha Presentacion</dt>
              <dd class="col-6">{% if expediente.fechaPresentacion %}{{ expediente.fechaPresentacion|date('d-m-Y') }}{% endif %}</dd>
              <dt class="col-6">Fecha Ingreso</dt>
              <dd class="col-6">{% if expediente.fechaIngreso %}{{ expediente.fechaIngreso|date('d-m-Y') }}{% endif %}</dd>
              <dt class="col-6">Fecha Fin</dt>
              <dd class="col-6">{% if expediente.fechaFin %}{{ expediente.fechaFin|date('d-m-Y') }}{% endif %}</dd>
              <dt class="col-6">Estado</dt>
              <dd class="col-6">{{ expediente.estado }}</dd>
              <dt class="col-6">Estado Área Contable</dt>
              <dd class="col-6">{{ expediente.estadoAreaContable }}</dd>
              <dt class="col-6">Estado Área Legales</dt>
              <dd class="col-6">{{ expediente.estadoAreaLegales }}</dd>
              <dt class="col-6">Estado Área Promocion</dt>
              <dd class="col-6">{{ expediente.estadoAreaPromocion }}</dd>
              <dt class="col-6">Estado Área SIG</dt>
              <dd class="col-6">{{ expediente.estadoAreaSig }}</dd>
              <dt class="col-6">Estado Foresto Industrial</dt>
              <dd class="col-6">{{ expediente.estadoForestoIndustriales }}</dd>
              <dt class="col-6">Área donde se encuentra Expediente</dt>
              <dd class="col-6">{{ expediente.areaEncuentraExpediente }}</dd>
              <dt class="col-6">Departamento</dt>
              <dd class="col-6">{{ expediente.departamento }}</dd>
              <dt class="col-6">Año del expediente</dt>
              <dd class="col-6">{{ expediente.anio }}</dd>
              <dt class="col-6">Creado</dt>
              <dd class="col-6">{% if expediente.createdAt %}{{ expediente.createdAt|date('d-m-Y') }}{% endif %}</dd>
              {% if expediente.informacionBudaf %}
                <dt class="col-6">Información BUDAF</dt>
                <dd class="col-6">{{ expediente.informacionBudaf|nl2br }}</dd>
              {% endif %}
              {% if expediente.budafId %}
                <dt class="col-6">ID Budaf</dt>
                <dd class="col-6">{{ expediente.budafId }}</dd>
              {% endif %}
            </dl>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-presentacion" role="tab" aria-controls="nav-home" aria-selected="true">Presentación ({{expediente.actividadesPresentadas|length}})</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-certificacion" role="tab" aria-controls="nav-profile" aria-selected="false">Certificación ({{expediente.ActividadesCertificadas|length}})</a>
            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-inspeccion" role="tab" aria-controls="nav-contact" aria-selected="false">Inspección ({{expediente.actividadesInspeccionadas|length}})</a>
            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-sig" role="tab" aria-controls="nav-sig" aria-selected="false">SIG ({{expediente.actividadesSig|length}})</a>
            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-documentacion" role="tab" aria-controls="nav-contact" aria-selected="false">Documentación ({{expediente.documentacion|length}})</a>
            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-situacion" role="tab" aria-controls="nav-contact" aria-selected="false">Estado Situación ({{expediente.estadoSituacion|length}})</a>
            {% if expediente.ActividadesTitulares|length %}
              <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-titulares" role="tab" aria-controls="nav-contact" aria-selected="false">Productores Asociados ({{expediente.actividadesTitulares|length}})</a>
            {% endif %}
            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-beneficios-fiscales" role="tab" aria-controls="nav-contact" aria-selected="false">Beneficios Fiscales ({{expediente.beneficiosFiscales|length}})</a>
            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-impacto-ambiental" role="tab" aria-controls="nav-contact" aria-selected="false">Impactos Ambientales ({{expediente.impactosAmbientales|length}})</a>
            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-observaciones" role="tab" aria-controls="nav-contact" aria-selected="false">Observaciones</a>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-presentacion" role="tabpanel" aria-labelledby="nav-home-tab">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Actividad</th>
                  <th scope="col">Especie</th>
                  <th scope="col">Superfice Ha.</th>
                  <th scope="col">Densidad</th>
                  <th scope="col">Fecha de Inicio</th>
                  <th scope="col">Fecha Fin de Actividad</th>
                </tr>
              </thead>
              <tbody>
                {% for actividadPresentada in expediente.actividadesPresentadas %}
                <tr data-link="{{ path('expedientes_show', { 'id': actividadPresentada.id }) }}">
                  <td><a href="{{ path('expedientes_show', { 'id': actividadPresentada.id }) }}">{{ actividadPresentada.id }}</a></td>
                  <td>{{ actividadPresentada.tipoActividad }}</td>
                  <td>{{ actividadPresentada.especie }}</td>
                  <td>{{ actividadPresentada.superficieHa }}</td>
                  <td>{{ actividadPresentada.densidad }}</td>
                  <td>{% if actividadPresentada.fechaInicio %}{{ actividadPresentada.fechaInicio|date('d-m-Y') }}{% endif %}</td>
                  <td>{% if actividadPresentada.fechaFinActividad %}{{ actividadPresentada.fechaFinActividad|date('d-m-Y') }}{% endif %}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="nav-certificacion" role="tabpanel" aria-labelledby="nav-profile-tab">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Actividad</th>
                  <th scope="col">Especie</th>
                  <th scope="col">Superfice Ha.</th>
                  <th scope="col">Densidad</th>
                  <th scope="col">Fecha de Inicio</th>
                  <th scope="col">Fecha Fin de Actividad</th>
                </tr>
              </thead>
              <tbody>
                {% for actividadCertificada in expediente.actividadesCertificadas %}
                <tr data-link="{{ path('expedientes_show', { 'id': actividadCertificada.id }) }}">
                  <td><a href="{{ path('expedientes_show', { 'id': actividadCertificada.id }) }}">{{ actividadCertificada.id }}</a></td>
                  <td>{{ actividadCertificada.tipoActividad }}</td>
                  <td>{{ actividadCertificada.especie }}</td>
                  <td>{{ actividadCertificada.superficieHa }}</td>
                  <td>{{ actividadCertificada.densidad }}</td>
                  <td>{% if actividadCertificada.fechaInicio %}{{ actividadCertificada.fechaInicio|date('d-m-Y') }}{% endif %}</td>
                  <td>{% if actividadCertificada.fechaFinActividad %}{{ actividadCertificada.fechaFinActividad|date('d-m-Y') }}{% endif %}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="nav-inspeccion" role="tabpanel" aria-labelledby="nav-contact-tab">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Actividad</th>
                  <th scope="col">Especie</th>
                  <th scope="col">Superfice Ha.</th>
                  <th scope="col">Densidad</th>
                  <th scope="col">Tipo ActividadesInspeccionadas</th>
                  <th scope="col">Fecha de Inicio</th>
                  <th scope="col">Fecha Fin</th>
                </tr>
              </thead>
              <tbody>
                {% for actividadInspeccionada in expediente.actividadesInspeccionadas %}
                <tr data-link="{{ path('expedientes_show', { 'id': actividadInspeccionada.id }) }}">
                  <td><a href="{{ path('expedientes_show', { 'id': actividadInspeccionada.id }) }}">{{ actividadInspeccionada.id }}</a></td>
                  <td><abbr title="{{ actividadInspeccionada.tipoActividad }}" data-length="10">{{ actividadInspeccionada.tipoActividad }}</abbr></td>
                  <td>{{ actividadInspeccionada.especie }}</td>
                  <td>{{ actividadInspeccionada.superficieHa }}</td>
                  <td>{{ actividadInspeccionada.densidad }}</td>
                  <td>{{ actividadInspeccionada.tipoInspeccion }}</td>
                  <td>{% if actividadInspeccionada.fechaInicio %}{{ actividadInspeccionada.fechaInicio|date('d-m-Y') }}{% endif %}</td>
                  <td>{% if actividadInspeccionada.fechaFin %}{{ actividadInspeccionada.fechaFin|date('d-m-Y') }}{% endif %}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="nav-sig" role="tabpanel" aria-labelledby="nav-sig-tab">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Tipo Actividad</th>
                  <th scope="col">Superficie Ha.</th>
                  <th scope="col">Observaciones</th>
                  <th scope="col">Fecha Registro</th>
                </tr>
              </thead>
              <tbody>
                {% for item in expediente.actividadesSig %}
                  <tr>
                    <td>{{item.id}}</td>
                    <td>{{item.tipoActividad}}</td>
                    <td>{{item.superficieHa}}</td>
                    <td>{{item.observaciones}}</td>
                    <td>{{item.fechaRegistro|date('d-m-Y')}}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="nav-documentacion" role="tabpanel" aria-labelledby="nav-contact-tab">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Tipo Documentacion</th>
                  <th scope="col">Observacion</th>
                  <th scope="col">Fecha Presentacion</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                {% for item in expediente.documentacion %}
                 <tr>
                   <td>{{item.id}}</td>
                   <td>{{item.tipoDocumentacion}}</td>
                   <td>{{item.observacion}}</td>
                   <td>{{item.fechaPresentacion|date('d-m-Y')}}</td>
                   <td>{% if item.archivo %}<span class="fa fa-download">{% endif %}</td>
                 </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="nav-situacion" role="tabpanel" aria-labelledby="nav-contact-tab">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Observacion</th>
                  <th scope="col">Especificación</th>
                  <th scope="col">Fecha</th>
                </tr>
              </thead>
              <tbody>
                {% for item in expediente.estadoSituacion %}
                  <tr>
                    <td>{{item.id}}</td>
                    <td>{{item.observacion}}</td>
                    <td>{{item.especificacionPlantaciones}}</td>
                    <td>{{item.fecha|date('d-m-Y')}}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          {% if expediente.actividadesTitulares|length %}
            <div class="tab-pane fade" id="nav-titulares" role="tabpanel" aria-labelledby="nav-contact-tab">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Apellido y Nombre</th>
                    <th scope="col">Especie</th>
                    <th scope="col">Tipo Actividad</th>
                    <th scope="col">Sup. Presentada</th>
                    <th scope="col">Tipo Actividad</th>
                    <th scope="col">Sup. Certificada</th>
                    <th scope="col">Tipo Actividad</th>
                    <th scope="col">Sup. Inspeccionada</th>
                    <th scope="col">Tipo Actividad</th>
                    <th scope="col">Sup. Aprobada</th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in expediente.actividadesTitulares %}
                    <tr>
                      <td><a href="{{path('titulares_show', { 'id': item.titular.id })}}">{{item.titular.apellidoNombre}}</a></td>
                      <td>{% if item.actividadPresentada %}{{item.actividadPresentada.especie}}{% endif %}</td>
                      <td>{% if item.actividadPresentada %}{{item.actividadPresentada.tipoActividad }}{% endif %}</td>
                      <td>{% if item.actividadPresentada %}{{item.actividadPresentada.superficieHa}}{% endif %}</td>
                      <td>{% if item.actividadCertificada %}{{item.actividadCertificada.tipoActividad}}{% endif %}</td>
                      <td>{% if item.actividadCertificada %}{{item.actividadCertificada.superficieHa}}{% endif %}</td>
                      <td>{% if item.actividadInspeccionada %}{{item.actividadInspeccionada.tipoActividad}}{% endif %}</td>
                      <td>{% if item.actividadInspeccionada %}{{item.actividadInspeccionada.superficieHa}}{% endif %}</td>
                      <td>{% if item.actividadAprobada %}{{item.actividadAprobada.tipoActividad}}{% endif %}</td>
                      <td>{% if item.actividadAprobada %}{{item.actividadAprobada.superficieHa}}{% endif %}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          {% endif %}
          <div class="tab-pane fade" id="nav-beneficios-fiscales" role="tabpanel" aria-labelledby="nav-contact-tab">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Tipo</th>
                  <th scope="col">Valor Plantación</th>
                  <th scope="col">Inicio Plantación</th>
                  <th scope="col">Fin Plantación</th>
                  <th scope="col">Impuesto</th>
                  <th scope="col">Inicio Período Fiscal</th>
                  <th scope="col">Fin Período Fiscal</th>
                  <th scope="col">Valor Beneficio</th>
                  <th scope="col">Observaciones</th>
                  <th scope="col">Moneda</th>
                  <th scope="col">Certificado</th>
                </tr>
              </thead>
              <tbody>
                {% for item in expediente.beneficiosFiscales %}
                  <tr>
                    <td>{{item.beneficioFiscal}}</td>
                    <td>{{item.valorPlantacion}}</td>
                    <td>{{item.inicioPeriodoPlantacion|date('d-m-Y')}}</td>
                    <td>{{item.finPeriodoPlantacion|date('d-m-Y')}}</td>
                    <td>{{item.impuesto}}</td>
                    <td>{{item.inicioPeriodoFiscal|date('d-m-Y')}}</td>
                    <td>{{item.finPeriodoFiscal|date('d-m-Y')}}</td>
                    <td>{{item.valorBeneficio}}</td>
                    <td>{{item.observaciones}}</td>
                    <td>{{item.moneda}}</td>
                    <td>{% if item.contieneCertificado %}<span class="fa fa-check"></span>{% else %}<span class="fa fa-times"></span>{% endif %}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="nav-impacto-ambiental" role="tabpanel" aria-labelledby="nav-contact-tab">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Resolución</th>
                  <th scope="col">Fecha Entrada</th>
                  <th scope="col">Fecha Salida</th>
                  <th scope="col">Fecha Carga</th>
                  <th scope="col">Observación</th>
                </tr>
              </thead>
              <tbody>
                {% for item in expediente.impactosAmbientales %}
                  <tr>
                    <td>{{item.resolucionNumero}}</td>
                    <td>{{item.fechaEntrada|date('d-m-Y')}}</td>
                    <td>{{item.fechaSalida|date('d-m-Y')}}</td>
                    <td>{{item.fechaRealCarga|date('d-m-Y')}}</td>
                    <td>{{item.observacion}}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="nav-observaciones" role="tabpanel" aria-labelledby="nav-contact-tab">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-4">
                  <div class="card">
                    <div class="card-header">
                      Contable
                    </div>
                    <div class="card-body">
                      <ul>
                        {% for item in expediente.historialContable %}
                          <li>{{item.observacion}}</li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card">
                    <div class="card-header">
                      Legales
                    </div>
                    <div class="card-body">
                      <ul>
                        {% for item in expediente.historialLegales %}
                          <li>{{item.observacion}}</li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card">
                    <div class="card-header">
                      Foresto Industriales
                    </div>
                    <div class="card-body">
                      <ul>
                        {% for item in expediente.historialForestoIndustriales %}
                          <li>{{item.observacion}}</li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="card">
                    <div class="card-header">
                      Viveros
                    </div>
                    <div class="card-body">
                      <ul>

                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card">
                    <div class="card-header">
                      Promoción
                    </div>
                    <div class="card-body">
                      <ul>
                        {% for item in expediente.historialPromocion %}
                          <li>{{item.observacion}}</li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card">
                    <div class="card-header">
                      SIG
                    </div>
                    <div class="card-body">
                      <ul>
                        {% for item in expediente.historialSig %}
                          <li>{{item.observacion}}</li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
