{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-md-12">
      <div class="col-md-5">
        <div class="card border-info">
          <div class="card-header bg-info text-white">
            Expediente
          </div>
          <div class="card-body">
            <dl class="row">
              <dt class="col-6">Id</dt>
              <dd class="col-6">{{ expediente.id }}</dd>
              <dt class="col-6">Numero Interno</dt>
              <dd class="col-6">{{ expediente.numeroInterno }}</dd>
              <dt class="col-6">Numero Expediente</dt>
              <dd class="col-6">{{ expediente.numeroExpediente }}</dd>
              <dt class="col-6">Titular</dt>
              <dd class="col-6"><a href="#">{{ expediente.titular }}</a></dd>
              <dt class="col-6">Segundo Titular</dt>
              <dd class="col-6">{{ expediente.segundoTitularId }}</dd>
              <dt class="col-6">Entidad Agrupadora</dt>
              <dd class="col-6"><a href="#">{{ expediente.entidadAgrupadoraId }}</a></dd>
              <dt class="col-6">Representante Legal</dt>
              <dd class="col-6">{{ expediente.representanteLegal }}</dd>
              <dt class="col-6">Profesional Cargo</dt>
              <dd class="col-6">{{ expediente.profesionalCargo }}</dd>
              <dt class="col-6">Fecha Presentacion</dt>
              <dd class="col-6">{% if expediente.fechaPresentacion %}{{ expediente.fechaPresentacion|date('d-m-Y') }}{% endif %}</dd>
              <dt class="col-6">Fecha Ingreso</dt>
              <dd class="col-6">{% if expediente.fechaIngreso %}{{ expediente.fechaIngreso|date('d-m-Y') }}{% endif %}</dd>
              <dt class="col-6">Fecha Fin</dt>
              <dd class="col-6">{% if expediente.fechaFin %}{{ expediente.fechaFin|date('d-m-Y') }}{% endif %}</dd>
              <dt class="col-6">Estado</dt>
              <dd class="col-6">{{ expediente.estado }}</dd>
              <dt class="col-6">Estado Área Contable</dt>
              <dd class="col-6">{{ expediente.estadoAreaContable }}</dd>
              <dt class="col-6">Estado Área Legales</dt>
              <dd class="col-6">{{ expediente.estadoAreaLegales }}</dd>
              <dt class="col-6">Estado Área Promocion</dt>
              <dd class="col-6">{{ expediente.estadoAreaPromocion }}</dd>
              <dt class="col-6">Estado Área SIG</dt>
              <dd class="col-6">{{ expediente.estadoAreaSig }}</dd>
              <dt class="col-6">Estado Foresto Industrial</dt>
              <dd class="col-6">{{ expediente.estadoForestoIndustriales }}</dd>
              <dt class="col-6">Área donde se encuentra Expediente</dt>
              <dd class="col-6">{{ expediente.areaEncuentraExpediente }}</dd>
              <dt class="col-6">Departamento</dt>
              <dd class="col-6">{{ expediente.departamento }}</dd>
              <dt class="col-6">Año del expediente</dt>
              <dd class="col-6">{{ expediente.anio }}</dd>
              <dt class="col-6">ExpCar</dt>
              <dd class="col-6">{% if expediente.expCar %}{{ expediente.expCar|date('d-m-Y') }}{% endif %}</dd>
              <dt class="col-6">Información BUDAF</dt>
              <dd class="col-6">{{ expediente.informacionBudaf }}</dd>
              <dt class="col-6">ID Budaf</dt>
              <dd class="col-6">{{ expediente.budafId }}</dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
