{% extends 'base.html.twig' %}

{% block body %}
    <h1>Expediente</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ expediente.id }}</td>
            </tr>
            <tr>
                <th>Numerointerno</th>
                <td>{{ expediente.numeroInterno }}</td>
            </tr>
            <tr>
                <th>Segundotitularid</th>
                <td>{{ expediente.segundoTitularId }}</td>
            </tr>
            <tr>
                <th>Representantelegalid</th>
                <td>{{ expediente.representanteLegalId }}</td>
            </tr>
            <tr>
                <th>Profesionalcargoid</th>
                <td>{{ expediente.profesionalCargoId }}</td>
            </tr>
            <tr>
                <th>Cobrobeneficiosid</th>
                <td>{{ expediente.cobroBeneficiosId }}</td>
            </tr>
            <tr>
                <th>Entidadagrupadoraid</th>
                <td>{{ expediente.entidadAgrupadoraId }}</td>
            </tr>
            <tr>
                <th>Numeroexpediente</th>
                <td>{{ expediente.numeroExpediente }}</td>
            </tr>
            <tr>
                <th>Fechapresentacion</th>
                <td>{% if expediente.fechaPresentacion %}{{ expediente.fechaPresentacion|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Fechaingreso</th>
                <td>{% if expediente.fechaIngreso %}{{ expediente.fechaIngreso|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Fechafin</th>
                <td>{% if expediente.fechaFin %}{{ expediente.fechaFin|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Estadoid</th>
                <td>{{ expediente.estadoId }}</td>
            </tr>
            <tr>
                <th>Estadoareacontableid</th>
                <td>{{ expediente.estadoAreaContableId }}</td>
            </tr>
            <tr>
                <th>Estadoarealegalesid</th>
                <td>{{ expediente.estadoAreaLegalesId }}</td>
            </tr>
            <tr>
                <th>Estadoareapromocionid</th>
                <td>{{ expediente.estadoAreaPromocionId }}</td>
            </tr>
            <tr>
                <th>Estadoareasigid</th>
                <td>{{ expediente.estadoAreaSigId }}</td>
            </tr>
            <tr>
                <th>Areaencuentraexpedienteid</th>
                <td>{{ expediente.areaEncuentraExpedienteId }}</td>
            </tr>
            <tr>
                <th>Departamentoid</th>
                <td>{{ expediente.departamentoId }}</td>
            </tr>
            <tr>
                <th>Informacionbudaf</th>
                <td>{{ expediente.informacionBudaf }}</td>
            </tr>
            <tr>
                <th>Budafid</th>
                <td>{{ expediente.budafId }}</td>
            </tr>
            <tr>
                <th>Anio</th>
                <td>{{ expediente.anio }}</td>
            </tr>
            <tr>
                <th>Expcar</th>
                <td>{% if expediente.expCar %}{{ expediente.expCar|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Estadoforestoindustrialesid</th>
                <td>{{ expediente.estadoForestoIndustrialesId }}</td>
            </tr>
            <tr>
                <th>Estadoviverosid</th>
                <td>{{ expediente.estadoViverosId }}</td>
            </tr>
            <tr>
                <th>Usuarioid</th>
                <td>{{ expediente.usuarioId }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('expedientes_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('expedientes_edit', { 'id': expediente.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
