{% extends 'base.html.twig' %}
{% block title %}{{parent()}}
	- Generar Informe Legal{% endblock %}
{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}
{% block body %}
	<div class="col-md-12 mx-auto">
		<div class="row">
			<div class="col-md-10">
				<h1>Crear Informe</h1>
				{{ form_start(form) }}
				{{ form_widget(form) }}
				<input type="submit" value="Crear"/>
				{{ form_end(form) }}
			</div>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	{{parent()}}
	<script src="{{ asset('js/informe.js') }}"></script>
{% endblock %}
