{% block historialPromocionPrototype %}
  <td>
    <div class="col-sm-12">
      {{ form_widget(form.fechaInicio) }}
      {{ form_errors(form.fechaInicio) }}
    </div>
  </td>
  <td>
      <div class="col-sm-12">
        {{ form_widget(form.fechaFin) }}
        {{ form_errors(form.fechaFin) }}
      </div>
  </td>
  <td>
    <div class="col-sm-12">
      {{ form_widget(form.areaEnviadoExpediente) }}
      {{ form_errors(form.areaEnviadoExpediente) }}
    </div>
  </td>
  <td>
      <div class="col-sm-12">
        {{ form_widget(form.estadoAreaContable) }}
        {{ form_errors(form.estadoAreaContable) }}
      </div>
  </td>
  <td>
      <div class="col-sm-12">
        {{ form_widget(form.estadoAreaLegales) }}
        {{ form_errors(form.estadoAreaLegales) }}
      </div>
  </td>
  <td>
      <div class="col-sm-12">
        {{ form_widget(form.estadoAreaPromocion) }}
        {{ form_errors(form.estadoAreaPromocion) }}
      </div>
  </td>
  <td>
      <div class="col-sm-12">
        {{ form_widget(form.estadoAreaSig) }}
        {{ form_errors(form.estadoAreaSig) }}
      </div>
  </td>
  <td>
      <div class="col-sm-12">
        {{ form_widget(form.estadoPrincipal) }}
        {{ form_errors(form.estadoPrincipal) }}
      </div>
  </td>
  <td>
      <div class="col-sm-12">
        {{ form_widget(form.estadoForestoIndustriales) }}
        {{ form_errors(form.estadoForestoIndustriales) }}
      </div>
  </td>
  <td>
      <div class="col-sm-12">
        {{ form_widget(form.estadoViverosId) }}
        {{ form_errors(form.estadoViverosId) }}
      </div>
  </td>
  <td>
      <div class="col-sm-12">
        {{ form_widget(form.observacion) }}
        {{ form_errors(form.observacion) }}
      </div>
  </td>
  <td>
    <a class="btn btn-danger btn-sm pull-right remove-historial-promocion remove_nested_fields" data-association="historial_promociones">
      <span class="fa fa-remove text-white" aria-hidden="true"></span>
    </a>
  </td>
{% endblock %}
