<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Fecha Realización</th>
        <th scope="col">10% valiosas</th>
        {% if expediente.agrupador %}
          <th scope="col">Titular Agrupado</th>
        {% endif %}
        {% if expediente.plurianual %}
          <th scope="col">Etapa</th>
        {% endif %}
        <th scope="col">Observaciones</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for item in historialPromociones %}
        <tr>
          <td>{{item.fechaInicio|date('m-Y')}}</td>
          <td>{% if item.valiosas %}<span class="fa fa-check"></span>{% else %}<span class="fa fa-times"></span>{% endif %}</td>
          {% if expediente.agrupador %}
            <td>{% if item.titularAgrupado %}<a href="{{path('titulares_show', { 'id': item.titularAgrupado.id })}}">{{item.titularAgrupado}}</a>{% endif %}</th>
          {% endif %}
          {% if expediente.plurianual %}
            <td>{{item.etapa}}</td>
          {% endif %}
          <td>{{item.observacion}}</td>
          <td>
            {% if item.informes.last %}
              <a href="{{path('informespromocion_show', { 'expedienteId': item.expediente.id,'id': item.informes.last.id })}}" target="_blank"><span class="fa fa-file" aria-hidden="true"></span></a>
            {% else %}
              {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_PROMOCION') %}
                <a href="{{path('informespromocion_new', { 'expedienteId': item.expediente.id,'actividadId': item.id })}}" target="_blank"><span class="fa fa-plus" aria-hidden="true"></span></a>
              {% endif %}
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
