<div class="table-responsive">
  <table id="historial-promociones" class="table table-striped">
    <thead>
      <tr>
        <th>Fecha Inicio</th>
        <th>Fecha Fin</th>
        <th>Estado Viveros</th>
        <th>10% valiosa</th>
        <th>Observacion</th>
        <th></th>
      </tr>
    </thead>
    <tbody class="historialPromociones" data-index="{{ historialPromociones|length }}" data-prototype="{% filter escape %}{% include 'historial_promocion/prototype.html.twig' with {'form': historialPromociones.vars.prototype } %}{% endfilter %}">
      {% if historialPromociones %}
        {% for tag in historialPromociones %}
        <tr class="fields">
          <td>
          	<div class="col-sm-12">
          		{{ form_widget(tag.fechaInicio) }}
              {{ form_errors(tag.fechaInicio) }}
          	</div>
          </td>
          <td>
          		<div class="col-sm-12">
          			{{ form_widget(tag.fechaFin) }}
                {{ form_errors(tag.fechaFin) }}
          		</div>
          </td>
          <td>
              <div class="col-sm-12">
                {{ form_widget(tag.estadoViverosId) }}
                {{ form_errors(tag.estadoViverosId) }}
              </div>
          </td>
          <td>
              <div class="col-sm-12">
                {{ form_widget(tag.valiosas) }}
                {{ form_errors(tag.valiosas) }}
              </div>
          </td>
          <td>
          		<div class="col-sm-12">
          			{{ form_widget(tag.observacion) }}
                {{ form_errors(tag.observacion) }}
          		</div>
          </td>
          <td>
          	<a class="btn btn-danger btn-sm pull-right remove-historial-promocion remove_nested_fields" data-association="historial_promociones">
              <span class="fa fa-remove text-white" aria-hidden="true"></span>
          	</a>
          </td>
        </tr>
      {% endfor %}
    {% endif %}
    </tbody>
  </table>
  <a id="add-historial-promocion" class="btn btn-primary btn-sm add_nested_fields" data-target="#historial-promocion" href="javascript:void(0)">
    <span class="fa fa-plus" aria-hidden="true"></span>
    Agregar Análisis Área Promoción
  </a>
</div>

{% block javascripts %}
  <script src="{{ asset('js/historial_promociones.js') }}"></script>
{% endblock %}
