{% block actividadPresentadaPrototype %}
  <td>
    <div class="col-sm-12">
      {{ form_widget(form.especie) }}
      {{ form_errors(form.especie) }}
    </div>
  </td>
  <td>
      <div class="col-sm-12">
        {{ form_widget(form.superficieHa) }}
        {{ form_errors(form.superficieHa) }}
      </div>
  </td>
  <td>
    <div class="col-sm-12">
      {{ form_widget(form.densidad) }}
      {{ form_errors(form.densidad) }}
    </div>
  </td>
  <td>
      <div class="col-sm-12">
        {{ form_widget(form.fechaInicio) }}
        {{ form_errors(form.fechaInicio) }}
      </div>
  </td>
  <td>
      <div class="col-sm-12">
        {{ form_widget(form.fechaFinActividad) }}
        {{ form_errors(form.fechaFinActividad) }}
      </div>
  </td>
  <td>
      <div class="col-sm-12">
        {{ form_widget(form.departamento) }}
        {{ form_errors(form.departamento) }}
      </div>
  </td>
  <td>
      <div class="col-sm-12">
        {{ form_widget(form.tipoActividad) }}
        {{ form_errors(form.tipoActividad) }}
      </div>
  </td>
  <td>
      <div class="col-sm-12">
        {{ form_widget(form.observaciones) }}
        {{ form_errors(form.observaciones) }}
      </div>
  </td>
  <td>
    <a class="btn btn-danger btn-sm pull-right remove-actividad-presentada remove_nested_fields" data-association="actividades_presentadas">
      <span class="fa fa-remove text-white" aria-hidden="true"></span>
    </a>
  </td>
{% endblock %}
