<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Actividad</th>
      <th scope="col">Especie</th>
      <th scope="col">Superficie(ha).</th>
      <th scope="col">Densidad</th>
      {% if expediente.plurianual %}
        <th scope="col">Etapa</th>
      {% endif %}
      {% if expediente.agrupador %}
        <th scope="col">Titular Agrupado</th>
      {% endif %}
      <th scope="col">Fecha de Realización</th>
    </tr>
  </thead>
  <tbody>
    {% for actividadPresentada in actividadesPresentadas %}
    <tr>
      <td>{{ actividadPresentada.id }}</a></td>
      <td>{{ actividadPresentada.tipoActividad }}</td>
      <td>{{ actividadPresentada.especie }}</td>
      <td>{{ actividadPresentada.superficieHa }}</td>
      <td>{{ actividadPresentada.densidad }}</td>
      {% if expediente.plurianual %}
        <td>{{actividadPresentada.etapa}}</th>
      {% endif %}
      {% if expediente.agrupador %}
        <td>{% if actividadPresentada.titularAgrupado %}<a href="{{path('titulares_show', { 'id': actividadPresentada.titularAgrupado.id })}}">{{actividadPresentada.titularAgrupado}}</a>{% endif %}</th>
      {% endif %}
      <td>{% if actividadPresentada.fechaRealizacion %}{{ actividadPresentada.fechaRealizacion|date('m/Y') }}{% endif %}</td>
      {% if (expediente.plurianual == true or expediente.agrupador) and ('actividadesPresentadas' in roles) %}
        <td>
          <a href="#" data-toggle="modal" data-modal="editItem" data-type="actividadespresentadas" data-modal-name='actividadPresentadaModal' data-id="{{expediente.id}}" data-item='{{actividadPresentada.id}}'>
            <span class="fa fa-edit" aria-hidden="true"></span>
          </a>
          <a href="" class="removeItem" data-type="actividadespresentadas" data-item='{{actividadPresentada.id}}' data-message='¿Está seguro que desea eliminar la Actividad Presentada?'>
            <span class="fa fa-remove" aria-hidden="true"></span>
          </a>
        </td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
