<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Actividad</th>
      <th scope="col">Especie</th>
      <th scope="col">Superficie(ha).</th>
      <th scope="col">Densidad</th>
      {% if expediente.plurianual %}
        <th scope="col">Etapa</th>
      {% endif %}
      <th scope="col">Fecha de Realización</th>
    </tr>
  </thead>
  <tbody>
    {% for actividadPresentada in actividadesPresentadas %}
    <tr>
      <td>{{ actividadPresentada.id }}</a></td>
      <td>{{ actividadPresentada.tipoActividad }}</td>
      <td>{{ actividadPresentada.especie }}</td>
      <td>{{ actividadPresentada.superficieHa }}</td>
      <td>{{ actividadPresentada.densidad }}</td>
      {% if expediente.plurianual %}
        <td>{{actividadPresentada.etapa}}</th>
      {% endif %}
      <td>{% if actividadPresentada.fechaRealizacion %}{{ actividadPresentada.fechaRealizacion|date('m/Y') }}{% endif %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
