<table id="actividades-presentadas" class="table table-striped">
  <thead>
    <tr>
      <th>Tipo</th>
      <th>Especie</th>
      <th>Superficie</th>
      <th>Densidad</th>
      <th>Fecha Realización</th>
      <th>Observaciones</th>
      <th></th>
    </tr>
  </thead>
  <tbody class="actividadesPresentadas" data-index="{{ actividadesPresentadas|length }}" data-prototype="{% filter escape %}{% include 'actividadespresentadas/prototype.html.twig' with {'form': actividadesPresentadas.vars.prototype } %}{% endfilter %}">
    {% if actividadesPresentadas %}
      {% for tag in actividadesPresentadas %}
      <tr class="fields">
        <td>
          	<div class="col-sm-12">
        			{{ form_widget(tag.tipoActividad) }}
              {{ form_errors(tag.tipoActividad) }}
        		</div>
        </td>
        <td>
        	<div class="col-sm-12">
        		{{ form_widget(tag.especie) }}
            {{ form_errors(tag.especie) }}
        	</div>
        </td>
        <td>
        		<div class="col-sm-12">
        			{{ form_widget(tag.superficieHa) }}
              {{ form_errors(tag.superficieHa) }}
        		</div>
        </td>
        <td>
          <div class="col-sm-12">
            {{ form_widget(tag.densidad) }}
            {{ form_errors(tag.densidad) }}
          </div>
        </td>
        <td>
        		<div class="col-sm-12">
        			{{ form_widget(tag.fechaRealizacion) }}
              {{ form_errors(tag.fechaRealizacion) }}
        		</div>
        </td>
        <td>
        		<div class="col-sm-12">
        			{{ form_widget(tag.observaciones) }}
              {{ form_errors(tag.observaciones) }}
        		</div>
        </td>
        <td>
        	<a class="btn btn-danger btn-sm pull-right remove-actividad-presentada remove_nested_fields" data-association="actividades_presentadas">
            <span class="fa fa-remove text-white" aria-hidden="true"></span>
        	</a>
        </td>
      </tr>
    {% endfor %}
  {% endif %}
  </tbody>
</table>
<a id="add-actividad-presentada" class="btn btn-primary btn-sm add_nested_fields" data-target="#actividad-presentada" href="javascript:void(0)">
  <span class="fa fa-plus" aria-hidden="true"></span>
  Agregar Actividad Presentada
</a>

{% block javascripts %}
  <script src="{{ asset('js/actividades_presentadas.js') }}"></script>
{% endblock %}
