<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Tipo Garantia</th>
        <th scope="col">Inicio</th>
        <th scope="col">Fin</th>
        <th scope="col">Moneda</th>
        <th scope="col">Valor</th>
        <th scope="col">Observacion</th>
        {% if expediente.plurianual %}
          <th scope="col">Etapa</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for item in garantias %}
        <tr>
          <td>{{item.tipoGarantia}}</td>
          <td>{{item.fechaInicio|date('d-m-Y')}}</td>
          <td>{{item.fechaFin|date('d-m-Y')}}</td>
          <td>{{item.tipoMoneda}}</td>
          <td>{{item.valor}}</td>
          <td>{{item.observacion}}</td>
          {% if expediente.plurianual %}
            <td>{{item.etapa}}</td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
