<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Actividad</th>
        <th scope="col">Superficie</th>
        <th scope="col">Densidad</th>
        <th scope="col">N째Resoluci처n</th>
        <th scope="col">Aprueba</th>
        <th scope="col">Monto</th>
        <th scope="col">Tipo Resolucion</th>
        <th scope="col">Fecha Resoluci처n</th>
        <th scope="col">Listado</th>
        {% if expediente.agrupador %}
          <th scope="col">Titular Agrupado</th>
        {% endif %}
        {% if expediente.plurianual %}
          <th scope="col">Etapa</th>
        {% endif %}
        <th scope="col">Observaci처n</th>
      </tr>
    </thead>
    <tbody>
      {% for item in resoluciones %}
        <tr>
          <td>{{item.tipoActividad}}</td>
          <td>{{item.superficieHa}}</td>
          <td>{{item.densidad}}</td>
          <td>{{item.numeroResolucion}}</td>
          <td>{% if item.aprueba %}<span class="fa fa-check"></span>{% else %}<span class="fa fa-times"></span>{% endif %}</td>
          <td>{{item.montoPago}} {{item.moneda}}</td>
          <td>{{item.tipoResolucion}}</td>
          <td>{{item.fechaResolucion|date('d-m-Y')}}</td>
          <td>{{item.listadoResolucion}}</td>
          {% if expediente.agrupador %}
            <td>{% if item.titularAgrupado %}<a href="{{path('titulares_show', { 'id': item.titularAgrupado.id })}}">{{item.titularAgrupado}}</a>{% endif %}</th>
          {% endif %}
          {% if expediente.plurianual %}
            <td>
              {{item.etapa}}
            </td>
          {% endif %}
          <td>{{item.observacion}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
