<div class="table-responsive">
  <table id="historial-foresto-industriales" class="table table-striped">
    <thead>
      <tr>
        <th>Fecha Realización</th>
        <th>¿Es Foresto Industrial?</th>
        {% if expediente.agrupador  %}
          <th>Titular Agrupador</th>
        {% endif %}
        {% if expediente.plurianual %}
        <th>
          Etapa
        </th>
        {% endif %}
        <th>Observacion</th>
        <th></th>
      </tr>
    </thead>
    <tbody class="historialForestoIndustriales" data-index="{{ historialForestoIndustriales|length }}" data-prototype="{% filter escape %}{% include 'historial_foresto_industrial/prototype.html.twig' with {'form': historialForestoIndustriales.vars.prototype } %}{% endfilter %}">
      {% if historialForestoIndustriales %}
        {% for key, tag in historialForestoIndustriales %}
        <tr class="fields">
          <td>
          	<div class="col-sm-12">
          		{{ form_widget(tag.fechaInicio) }}
              {{ form_errors(tag.fechaInicio) }}
          	</div>
          </td>
          <td>
              <div class="col-sm-12">
                {{ form_widget(tag.esForestoIndustrial) }}
                {{ form_errors(tag.esForestoIndustrial) }}
              </div>
          </td>
          {% if expediente.agrupador == true %}
            <td>
              <div class="form-row">
                <div class="col-md-8 mb-3">
                  {{form_widget(tag.titularAgrupado)}}
                </div>
                <div class="col-md-4 mb-3">
                  <div class="form-row">
                    <div class="col-md-6">
                      <button id="add-titular-agrupado" data-index='{{key}}' data-name="appbundle_expedientes_historialForestoIndustriales_" class="btn btn-default add-titular-agrupado" type="button" data-toggle="modal" data-target="#titular-agrupado-modal">
                        <span class="fa fa-search" aria-hidden="true"></span>
                      </button>
                    </div>
                    <div class="col-md-6">
                      <button id="remove-titular-agrupado" data-index='{{key}}' data-name="appbundle_expedientes_historialForestoIndustriales_" class="btn btn-default remove-titular-agrupado" type="button">
                        <span class="fa fa-remove" aria-hidden="true"></span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              {{form_widget(tag.titular_agrupado_id)}}
            </td>
          {% endif %}
          {% if expediente.plurianual %}
          <td>
          		<div class="col-sm-12">
          			{{ form_widget(tag.etapa) }}
                {{ form_errors(tag.etapa) }}
          		</div>
          </td>
          {% endif %}
          <td>
          		<div class="col-sm-12">
          			{{ form_widget(tag.observacion) }}
                {{ form_errors(tag.observacion) }}
          		</div>
          </td>
          <td>
          	<a class="btn btn-danger btn-sm pull-right remove-historial-foresto-industrial remove_nested_fields" data-association="historial_foresto_industriales">
              <span class="fa fa-remove text-white" aria-hidden="true"></span>
          	</a>
          </td>
        </tr>
      {% endfor %}
    {% endif %}
    </tbody>
  </table>
  <a id="add-historial-foresto-industrial" class="btn btn-primary btn-sm add_nested_fields" data-target="#historial-foresto-industrial" href="javascript:void(0)">
    <span class="fa fa-plus" aria-hidden="true"></span>
    Agregar Análisis Área Foresto Industrial
  </a>
</div>

{% block javascripts %}
  <script src="{{ asset('js/historial_foresto_industriales.js') }}"></script>
{% endblock %}
