<div class="table-responsive">
  <table id="historial-foresto-industriales" class="table table-striped">
    <thead>
      <tr>
        <th>Fecha Inicio</th>
        <th>Fecha Fin</th>
        <th>Area Enviado Expediente</th>
        <th>Estado Contable</th>
        <th>Estado Legales</th>
        <th>Estado Promocion</th>
        <th>Estado SIG</th>
        <th>Estado Principal</th>
        <th>Estado ForestoIndustrial</th>
        <th>Estado Viveros</th>
        <th>¿Es Foresto Industrial?</th>
        <th>Observacion</th>
        <th></th>
      </tr>
    </thead>
    <tbody class="historialForestoIndustriales" data-index="{{ historialForestoIndustriales|length }}" data-prototype="{% filter escape %}{% include 'historial_foresto_industrial/prototype.html.twig' with {'form': historialForestoIndustriales.vars.prototype } %}{% endfilter %}">
      {% if historialForestoIndustriales %}
        {% for tag in historialForestoIndustriales %}
        <tr class="fields">
          <td>
          	<div class="col-sm-12">
          		{{ form_widget(tag.fechaInicio) }}
              {{ form_errors(tag.fechaInicio) }}
          	</div>
          </td>
          <td>
          		<div class="col-sm-12">
          			{{ form_widget(tag.fechaFin) }}
                {{ form_errors(tag.fechaFin) }}
          		</div>
          </td>
          <td>
            <div class="col-sm-12">
              {{ form_widget(tag.areaEnviadoExpediente) }}
              {{ form_errors(tag.areaEnviadoExpediente) }}
            </div>
          </td>
          <td>
          		<div class="col-sm-12">
          			{{ form_widget(tag.estadoAreaContable) }}
                {{ form_errors(tag.estadoAreaContable) }}
          		</div>
          </td>
          <td>
          		<div class="col-sm-12">
          			{{ form_widget(tag.estadoAreaLegales) }}
                {{ form_errors(tag.estadoAreaLegales) }}
          		</div>
          </td>
          <td>
          		<div class="col-sm-12">
          			{{ form_widget(tag.estadoPromocion) }}
                {{ form_errors(tag.estadoPromocion) }}
          		</div>
          </td>
          <td>
            	<div class="col-sm-12">
          			{{ form_widget(tag.estadoSig) }}
                {{ form_errors(tag.estadoSig) }}
          		</div>
          </td>
          <td>
              <div class="col-sm-12">
                {{ form_widget(tag.estadoPrincipal) }}
                {{ form_errors(tag.estadoPrincipal) }}
              </div>
          </td>
          <td>
              <div class="col-sm-12">
                {{ form_widget(tag.estadoForestoIndustriales) }}
                {{ form_errors(tag.estadoForestoIndustriales) }}
              </div>
          </td>
          <td>
              <div class="col-sm-12">
                {{ form_widget(tag.estadoViverosId) }}
                {{ form_errors(tag.estadoViverosId) }}
              </div>
          </td>
          <td>
              <div class="col-sm-12">
                {{ form_widget(tag.esForestoIndustrial) }}
                {{ form_errors(tag.esForestoIndustrial) }}
              </div>
          </td>
          <td>
          		<div class="col-sm-12">
          			{{ form_widget(tag.observacion) }}
                {{ form_errors(tag.observacion) }}
          		</div>
          </td>
          <td>
          	<a class="btn btn-danger btn-sm pull-right remove-historial-foresto-industrial remove_nested_fields" data-association="historial_foresto_industriales">
              <span class="fa fa-remove text-white" aria-hidden="true"></span>
          	</a>
          </td>
        </tr>
      {% endfor %}
    {% endif %}
    </tbody>
  </table>
  <a id="add-historial-foresto-industrial" class="btn btn-primary btn-sm add_nested_fields" data-target="#historial-foresto-industrial" href="javascript:void(0)">
    <span class="fa fa-plus" aria-hidden="true"></span>
    Agregar Análisis Área Foresto Industrial
  </a>
</div>

{% block javascripts %}
  <script src="{{ asset('js/historial_foresto_industriales.js') }}"></script>
{% endblock %}
