<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Actividad</th>
      <th scope="col">Especie</th>
      <th scope="col">Superficie(ha).</th>
      <th scope="col">Densidad</th>
      <th scope="col">Fecha de Inicio</th>
      <th scope="col">Fecha Fin de Actividad</th>
    </tr>
  </thead>
  <tbody>
    {% for actividadCertificada in actividadesCertificadas %}
    <tr>
      <td>{{ actividadCertificada.id }}</a></td>
      <td>{{ actividadCertificada.tipoActividad }}</td>
      <td>{{ actividadCertificada.especie }}</td>
      <td>{{ actividadCertificada.superficieHa }}</td>
      <td>{{ actividadCertificada.densidad }}</td>
      <td>{% if actividadCertificada.fechaInicio %}{{ actividadCertificada.fechaInicio|date('d-m-Y') }}{% endif %}</td>
      <td>{% if actividadCertificada.fechaFinActividad %}{{ actividadCertificada.fechaFinActividad|date('d-m-Y') }}{% endif %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
