<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Actividad</th>
      <th scope="col">Especie</th>
      <th scope="col">Superficie(ha).</th>
      <th scope="col">Densidad</th>
      {% if expediente.plurianual %}
        <th scope="col">Etapa</th>
      {% endif %}
      <th scope="col">Fecha de Realización</th>
    </tr>
  </thead>
  <tbody>
    {% for actividadCertificada in actividadesCertificadas %}
    <tr>
      <td>{{ actividadCertificada.id }}</a></td>
      <td>{{ actividadCertificada.tipoActividad }}</td>
      <td>{{ actividadCertificada.especie }}</td>
      <td>{{ actividadCertificada.superficieHa }}</td>
      <td>{{ actividadCertificada.densidad }}</td>
      {% if expediente.plurianual %}
        <td>{{actividadCertificada.etapa}}</th>
      {% endif %}
      <td>{% if actividadCertificada.fechaInicio %}{{ actividadCertificada.fechaInicio|date('m-Y') }}{% endif %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
