<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Actividad</th>
      <th scope="col">Especie</th>
      <th scope="col">Superficie(ha).</th>
      <th scope="col">Densidad</th>
      {% if expediente.plurianual %}
        <th scope="col">Etapa</th>
      {% endif %}
      {% if expediente.agrupador %}
        <th scope="col">Titular Agrupado</th>
      {% endif %}
      <th scope="col">Fecha de Realización</th>
    </tr>
  </thead>
  <tbody>
    {% for actividadCertificada in actividadesCertificadas %}
    <tr>
      <td>{{ actividadCertificada.id }}</a></td>
      <td>{{ actividadCertificada.tipoActividad }}</td>
      <td>{{ actividadCertificada.especie }}</td>
      <td>{{ actividadCertificada.superficieHa }}</td>
      <td>{{ actividadCertificada.densidad }}</td>
      {% if expediente.plurianual %}
        <td>{{actividadCertificada.etapa}}</th>
      {% endif %}
      {% if expediente.agrupador %}
        <td>{% if actividadCertificada.titularAgrupado %}<a href="{{path('titulares_show', { 'id': actividadCertificada.titularAgrupado.id })}}">{{actividadCertificada.titularAgrupado}}</a>{% endif %}</th>
      {% endif %}
      <td>{% if actividadCertificada.fechaInicio %}{{ actividadCertificada.fechaInicio|date('m-Y') }}{% endif %}</td>
      {% if (expediente.plurianual == true or expediente.agrupador == true or countItems > 600) and ('actividadesCertificadas' in roles) %}
        <td>
          <a href="#" data-toggle="modal" data-modal="editItem" data-type="actividadescertificadas" data-modal-name='actividadCertificadaModal' data-id="{{expediente.id}}" data-item='{{actividadCertificada.id}}'>
            <span class="fa fa-edit" aria-hidden="true"></span>
          </a>
          <a href="" class="removeItem" data-type="actividadescertificadas" data-item='{{actividadCertificada.id}}' data-message='¿Está seguro que desea eliminar la Actividad Certificada?'>
            <span class="fa fa-remove" aria-hidden="true"></span>
          </a>
        </td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
