{% block stylesheets %}
  {% stylesheets "@bootstrap_css" "@fontawesome_css" %}
  <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
  <link rel="stylesheet" type="text/css" media="screen" href="/css/application.css"/>
  <link rel="stylesheet" type="text/css" media="screen" href="/css/body.css"/>
  <link rel="stylesheet" type="text/css" media="screen" href="/css/bootstrap-switch.css"/>
  <link rel="stylesheet" type="text/css" media="screen" href="/css/bootstrap-combobox.css"/>
  {% endstylesheets %}
  {% stylesheets 'bundles/app/css/*' output = 'css/compiled/main.css' %}
  <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
  {% endstylesheets %}
{% endblock %}
{% block body %}
{{ form_start(form, {'attr': {'id': 'form_otbns'}}) }}
	<div class="form-group">
		<div class="col-sm-12">
			<label>Viable</label>
			{{ form_widget(form.viable) }}
			{{ form_errors(form.viable) }}
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-12">
			<label>Fecha</label>
			{{ form_widget(form.fecha) }}
			{{ form_errors(form.fecha) }}
		</div>
	</div>
  {{form_end(form)}}
{% endblock %}

{% javascripts '@jquery' '@bootstrap_js' %}
<script type="text/javascript" src="/assetic/jquery.validate.min.js"></script>
<script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
<script type="text/javascript" src="{{ asset_url }}"></script>
<script src="/js/bootstrap-switch.js"></script>
<script src="/js/bootstrap-combobox.js"></script>
{% endjavascripts %}
