<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Tipo Beneficio</th>
      {% if expediente.agrupador %}
      <th scope="col">Titular Agrupado</th>
        {% endif %}
      <th scope="col">Fecha de Carga</th>
      <th scope="col">Observación</th>
    </tr>
  </thead>
  <tbody>
    {% for item in beneficiosFiscalesSolicitados %}
      <tr>
        <td>{{item.id}}</td>
        <td>{{item.tipoBeneficio}}</td>
        {% if expediente.agrupador %}
        <td>{% if item.titularAgrupado %}<a href="{{path('titulares_show', { 'id': item.titularAgrupado.id })}}">{{item.titularAgrupado}}</a>{% endif %}</th>
        {% endif %}
        <td>{{item.fechaCarga|date('d-m-Y')}}</td>
        <td>{{item.observaciones}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
