{% extends 'base.html.twig' %}
{% block title %}{{parent()}}
	- Editar Titular{% endblock %}
	{% form_theme edit_form 'bootstrap_4_horizontal_layout.html.twig' %}
{% block body %}
	{% embed "localidades/modal_search.html.twig" %}
	{% endembed %}
	<div class="col-md-12 mx-auto">
		<div class="row">
			<div class="col-md-10">
				<h1>Editar Titular</h1>
				{{ form_start(edit_form) }}
				{{form_row(edit_form.personeria)}}
				{{form_row(edit_form.agriculturaFamiliar)}}
				{{form_row(edit_form.nroRenaf)}}
				{{form_row(edit_form.apellidoNombre)}}
				{{form_row(edit_form.agrupador)}}
				{{form_row(edit_form.comunidadIndigena)}}
				{{form_row(edit_form.tipoComunidadIndigena)}}
				{{form_row(edit_form.renaciRenoaf)}}
				{{form_row(edit_form.cuit)}}
				{{form_row(edit_form.tipoDocumento)}}
				{{form_row(edit_form.documento)}}
				{{form_row(edit_form.fechaNacimiento)}}
				{{form_row(edit_form.sexo)}}
				{{form_row(edit_form.aprobado)}}
				{{form_row(edit_form.numeroRegistro)}}
				{{form_row(edit_form.pequenio_productor)}}
				{{form_row(edit_form.condicional)}}
				<hr>
				{% embed "titulares/emails/table.html.twig" with {
					'emails' : edit_form.emails
				} %}{% endembed %}
				<hr>
				{% embed "titulares/domicilios/table.html.twig" with {
					'domicilios' : edit_form.domicilios
				} %}{% endembed %}
				<hr>
				{% embed "titulares/telefonos/table.html.twig" with {
					'telefonos' : edit_form.telefonos
				} %}{% endembed %}
				<button type="submit" class="btn btn-primary pull-right">Editar</button>
				{{ form_end(edit_form) }}
			</div>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	{{parent()}}
	<script src="{{ asset('js/titulares_form.js') }}"></script>
	<script src="{{ asset('js/domicilios.js') }}"></script>
	<script src="{{ asset('js/telefonos.js') }}"></script>
	<script src="{{ asset('js/emails.js') }}"></script>
{% endblock %}
