<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Tipo Actividad</th>
      <th scope="col">Superficie Ha.</th>
      <th scope="col">Observaciones</th>
      <th scope="col">Tipo Inspeccion</th>
      {% if expediente.agrupador %}
        <th scope="col">Titular Agrupado</th>
      {% endif %}
      <th scope="col">Fecha Registro</th>
    </tr>
  </thead>
  <tbody>
    {% for item in actividadesSig %}
      <tr>
        <td>{{item.id}}</td>
        <td>{{item.tipoActividad}}</td>
        <td>{{item.superficieHa}}</td>
        <td>{{item.inspeccion}}</td>
        <td>{{item.observaciones}}</td>
        {% if expediente.agrupador %}
          <td>{% if item.titularAgrupado %}<a href="{{path('titulares_show', { 'id': item.titularAgrupado.id })}}">{{item.titularAgrupado}}</a>{% endif %}</th>
        {% endif %}
        <td>{{item.fechaRegistro|date('d-m-Y')}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
