{% extends 'javascripts.html.twig' %}

{% block content %}
<table id="actividades-sig" class="table table-striped">
  <thead>
    <tr>
      <th>Especie</th>
      <th>Superficie</th>
      <th>Departamento</th>
      <th>Tipo</th>
      <th>Inspeccion ID</th>
      <th>Observaciones</th>
      <th></th>
    </tr>
  </thead>
  <tbody class="actividadesSig" data-index="{{ actividadesSig|length }}" data-prototype="{% filter escape %}{% include 'actividadessig/prototype.html.twig' with {'form': actividadesSig.vars.prototype } %}{% endfilter %}">
    {% if actividadesSig %}
      {% for tag in actividadesSig %}
      <tr class="fields">
        <td>
        	<div class="col-sm-12">
        		{{ form_widget(tag.especie) }}
            {{ form_errors(tag.especie) }}
        	</div>
        </td>
        <td>
        		<div class="col-sm-12">
        			{{ form_widget(tag.superficieHa) }}
              {{ form_errors(tag.superficieHa) }}
        		</div>
        </td>
        <td>
        		<div class="col-sm-12">
        			{{ form_widget(tag.departamento) }}
              {{ form_errors(tag.departamento) }}
        		</div>
        </td>
        <td>
          	<div class="col-sm-12">
        			{{ form_widget(tag.tipoActividad) }}
              {{ form_errors(tag.tipoActividad) }}
        		</div>
        </td>
        <td>
          	<div class="col-sm-12">
        			{{ form_widget(tag.inspeccionId) }}
              {{ form_errors(tag.inspeccionId) }}
        		</div>
        </td>
        <td>
        		<div class="col-sm-12">
        			{{ form_widget(tag.observaciones) }}
              {{ form_errors(tag.observaciones) }}
        		</div>
        </td>
        <td>
        	<a class="btn btn-danger btn-sm pull-right remove-actividad-sig remove_nested_fields" data-association="actividades_sig">
            <span class="fa fa-remove text-white" aria-hidden="true"></span>
        	</a>
        </td>
      </tr>
    {% endfor %}
  {% endif %}
  </tbody>
</table>
<a id="add-actividad-sig" class="btn btn-primary btn-sm add_nested_fields" data-target="#actividad-sig" href="javascript:void(0)">
  <span class="fa fa-plus" aria-hidden="true"></span>
  Agregar Actividad SIG
</a>
{% endblock %}

{% block javascripts %}
  {{parent()}}
  <script src="{{ asset('js/actividades_sig.js') }}"></script>
{% endblock %}
