<h5>Enriquecimiento Bosque Nativo</h5>
<table id="actividades-certificadas-enriquecimiento-bn" class="table table-striped">
	<thead>
		<tr>
			<th>Actividad</th>
			<th>Especie</th>
      <th>Fecha Realización</th>
			<th>Superficie</th>
			<th>Densidad (plantas/ha)</th>
			<th>Observaciones</th>
			<th></th>
		</tr>
	</thead>
	<tbody
		class="actividadesCertificadas_enriquecimientoBN">
		{% if actividadesCertificadas %}
			{% for tag in actividadesCertificadas %}
				{# ENRIQUECIMIENTO BN #}
				{% if tag.tipoActividad.vars.data.id == 5 %}
        <tr class="fields">
          <td>
            <div class="col-sm-12">
              {{ form_widget(tag.tipoActividad) }}
              {{ form_errors(tag.tipoActividad) }}
            </div>
          </td>
          <td>
            <div class="col-sm-12">
              {{ form_widget(tag.especie) }}
              {{ form_errors(tag.especie) }}
            </div>
          </td>
          <td>
            <div class="col-sm-12">
              {{ form_widget(tag.fechaInicio) }}
              {{ form_errors(tag.fechaInicio) }}
            </div>
          </td>
          <td>
            <div class="col-sm-12">
              {{ form_widget(tag.superficieHa) }}
              {{ form_errors(tag.superficieHa) }}
            </div>
          </td>
          <td>
            <div class="col-sm-12">
              {{ form_widget(tag.densidad) }}
              {{ form_errors(tag.densidad) }}
            </div>
          </td>
          <td>
            <div class="col-sm-12">
              {{ form_widget(tag.observaciones) }}
              {{ form_errors(tag.observaciones) }}
            </div>
          </td>
          {% do tag.edadPlantacion.setRendered() %}
          {% do tag.dapPromedio.setRendered() %}
          {% do tag.densidadPrevia.setRendered() %}
          {% do tag.numeroArbolesExtraidos.setRendered() %}
          {% do tag.alturaPoda.setRendered() %}
					{% do tag.alturaPromedioPlantacion.setRendered() %}
					{% do tag.cantidadArbolesPodados.setRendered() %}
					{% do tag.numeroPoda.setRendered() %}
          {% do tag.porcentajeFallas.setRendered() %}
					{% do tag.turnoCorta.setRendered() %}
					{% do tag.riego.setRendered() %}
          {% do tag.edadCepa.setRendered() %}
          {% do tag.edadRebrote.setRendered() %}
          {% do tag.numeroBrotesCepas.setRendered() %}
          {% do tag.longitudFilas.setRendered() %}
          {% do tag.numeroFilas.setRendered() %}
          {% do tag.distanciaPlantas.setRendered() %}
          {% do tag.cantidadArboles.setRendered() %}
          <td>
            <a class="btn btn-danger btn-sm pull-right remove-actividad-certificada remove_nested_fields" data-association="actividades_certificadas">
              <span class="fa fa-remove text-white" aria-hidden="true"></span>
            </a>
          </td>
        </tr>
				{% endif %}
			{% endfor %}
		{% endif %}
	</tbody>
</table>
