<table class="table table-responsive table-striped">
  <thead>
    <tr>
      <th scope="col">Apellido y Nombre</th>
      <th scope="col">Especie</th>
      <th scope="col">Tipo Actividad</th>
      <th scope="col">Sup. Presentada</th>
      <th scope="col">Tipo Actividad</th>
      <th scope="col">Sup. Certificada</th>
      <th scope="col">Tipo Actividad</th>
      <th scope="col">Sup. Inspeccionada</th>
      <th scope="col">Tipo Actividad</th>
      <th scope="col">Sup. Aprobada</th>
    </tr>
  </thead>
  <tbody>
    {% for item in actividadesTitulares %}
      <tr>
        <td><a href="{{path('titulares_show', { 'id': item.titular.id })}}">{{item.titular.apellidoNombre}}</a></td>
        <td>{% if item.actividadPresentada %}{{item.actividadPresentada.especie}}{% endif %}</td>
        <td>{% if item.actividadPresentada %}{{item.actividadPresentada.tipoActividad }}{% endif %}</td>
        <td>{% if item.actividadPresentada %}{{item.actividadPresentada.superficieHa}}{% endif %}</td>
        <td>{% if item.actividadCertificada %}{{item.actividadCertificada.tipoActividad}}{% endif %}</td>
        <td>{% if item.actividadCertificada %}{{item.actividadCertificada.superficieHa}}{% endif %}</td>
        <td>{% if item.actividadInspeccionada %}{{item.actividadInspeccionada.tipoActividad}}{% endif %}</td>
        <td>{% if item.actividadInspeccionada %}{{item.actividadInspeccionada.superficieHa}}{% endif %}</td>
        <td>{% if item.actividadAprobada %}{{item.actividadAprobada.tipoActividad}}{% endif %}</td>
        <td>{% if item.actividadAprobada %}{{item.actividadAprobada.superficieHa}}{% endif %}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
