<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Forestar{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block stylesheets %}
            {% stylesheets "@bootstrap_css" "@fontawesome_css" %}
                <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
                <link rel="stylesheet" type="text/css" media="screen" href="/css/application.css"/>
                <link rel="stylesheet" type="text/css" media="screen" href="/css/body.css"/>
            {% endstylesheets %}

            {% stylesheets 'bundles/app/css/*' output='css/compiled/main.css' %}
                <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
            {% endstylesheets %}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a href="/"><i class="fa fa-tree text-white" aria-hidden="true"></i></a>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{{path('expedientes_index')}}">Expedientes</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="{{path('titulares_index')}}">Titulares</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li> -->
            </ul>
          </div>
        </nav>
        <div id="container-fluid">
            <div id="row">
              {% block body %}
              {% endblock %}
          </div>
        </div>
        {% block javascripts %}
            {% javascripts '@jquery' '@bootstrap_js' %}
            <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
            <script type="text/javascript" src="{{ asset_url }}"></script>
            <script src="/js/application.js"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
