<div class="col-md-12">
  {% for item in predios %}
  	<div class="row">
  		<div class="col-md-10">
        <div class="tab-content" id="v-pills-tabContent">
          <div class="tab-pane fade show active" id="v-pills-general{{ loop.index }}" role="tabpanel" aria-labelledby="v-pills-profile-tab">
            <div class="col-md-12 border">
                <div class="row">
                  <div class="col-md-6">
                    <div class="card border-0">
                      <div class="card-body">
                        <dl class="row">
                          {% if expediente.agrupador %}
                          <dt class="col-6">Titular Agrupado</dt>
                          <dd class="col-6">{% if item.titularAgrupado %}<a href="{{path('titulares_show', { 'id': item.titularAgrupado.id })}}">{{item.titularAgrupado}}</a>{% endif %}</th></dd>
                          {% endif %}
                          <dt class="col-6">Encargado</dt>
                          <dd class="col-6">{{ item.nombreEncargado }}</dd>
                          <dt class="col-6">Telefono</dt>
                          <dd class="col-6">{{ item.numeroTelefono }}</dd>
                          <dt class="col-6">Nomenclatura Catrastal</dt>
                          <dd class="col-6">{{ item.nomenclaturaCatastral }}</dd>
                          <dt class="col-6">Lote</dt>
                          <dd class="col-6">{{ item.lote }}</dd>
                          <dt class="col-6">Fracción</dt>
                          <dd class="col-6">{{ item.fraccion }}</dd>
                          <dt class="col-6">Parcela</dt>
                          <dd class="col-6">{{ item.parcela }}</dd>
                          <dt class="col-6">Matrícula</dt>
                          <dd class="col-6">{{ item.matricula }}</dd>
                          <dt class="col-6">Localidad</dt>
                          <dd class="col-6">{{ item.localidad }}</dd>
                          <dt class="col-6">Municipio</dt>
                          <dd class="col-6">{{ item.municipio }}</dd>
                          <dt class="col-6">Departamento</dt>
                          <dd class="col-6">{{ item.departamento }}</dd>
                          <dt class="col-6">Superficie Predio</dt>
                          <dd class="col-6">{{ item.superficiePredio }}</dd>
                          <dt class="col-6">Superficie Afectada</dt>
                          <dd class="col-6">{{ item.superficieAfectada }}</dd>
                          <dt class="col-6">Puntos Gps</dt>
                          <dd class="col-6">{{ item.puntosGps }}</dd>
                        </dl>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="card border-0">
                      <div class="card-body">
                        <dl class="row">
                          <dt class="col-7">Temperatura Media Anual</dt>
                          <dd class="col-5">{{ item.temperaturaMediaAnual }}</dd>
                          <dt class="col-7">Temperatura Máxima Absoluta</dt>
                          <dd class="col-5">{{ item.temperaturaMaximaAbsoluta }}</dd>
                          <dt class="col-7">Temperatura Mínima Absoluta</dt>
                          <dd class="col-5">{{ item.temperaturaMinimaAbsoluta }}</dd>
                          <dt class="col-7">Precipitación Media Anual</dt>
                          <dd class="col-5">{{ item.precipitacionMediaAnual }}</dd>
                          <dt class="col-7">Precipitaciones Mes más lluvioso</dt>
                          <dd class="col-5">{{ item.precipitacionMesMasLluvioso }}</dd>
                          <dt class="col-7">Conductividad Agua Riego</dt>
                          <dd class="col-5">{{ item.conductividadAguaRiego }}</dd>
                          <dt class="col-7">Clasificación</dt>
                          <dd class="col-5">{{ item.clasificacion }}</dd>
                          <dt class="col-7">Profundidad Efectiva</dt>
                          <dd class="col-5">{{ item.profundidadEfectiva }}</dd>
                          <dt class="col-7">Altimetría</dt>
                          <dd class="col-5">{{ item.altimetria }}</dd>
                          <dt class="col-7">Ph</dt>
                          <dd class="col-5">{{ item.ph }}</dd>
                          <dt class="col-7">Salinidad</dt>
                          <dd class="col-5">{{ item.salinidad }}</dd>
                          <dt class="col-7">Contenido Materia Orgánica</dt>
                          <dd class="col-5">{{ item.contenidoMateriaOrganica }}</dd>
                        </dl>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
          <div class="tab-pane fade" id="v-pills-sistematizacion{{ loop.index }}" role="tabpanel" aria-labelledby="v-pills-profile-tab">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  {% for item in expediente.predios %}
                      {% for sistematizacion in item.sistematizaciones %}
                        <div class="col-md-6 border">
                          <dl class="row">
                            <dt class="col-6">Tipo Sistematización</dt>
                            <dd class="col-6">{{ sistematizacion.tipoSistematizacion }}</dd>
                            <dt class="col-6">Observación</dt>
                            <dd class="col-6">{{ sistematizacion.observacion }}</dd>
                          </dl>
                        </div>
                      {% endfor %}
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="v-pills-preparacion-suelo{{ loop.index }}" role="tabpanel" aria-labelledby="v-pills-messages-tab">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  {% for item in expediente.predios %}
                      {% for preparacionSuelo in item.preparacionesSuelo %}
                        <div class="col-md-6 border">
                          <dl class="row">
                            <dt class="col-6">Tipo Preparación del Suelo</dt>
                            <dd class="col-6">{{ preparacionSuelo.tipoPreparacionSuelo }}</dd>
                            <dt class="col-6">Observación</dt>
                            <dd class="col-6">{{ preparacionSuelo.observacion }}</dd>
                          </dl>
                        </div>
                      {% endfor %}
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="v-pills-metodos-plantacion{{ loop.index }}" role="tabpanel" aria-labelledby="v-pills-settings-tab">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  {% for item in expediente.predios %}
                      {% for metodoPlantacion in item.metodosPlantaciones %}
                        <div class="col-md-6 border">
                          <dl class="row">
                            <dt class="col-6">Tipo Preparación del Suelo</dt>
                            <dd class="col-6">{{ metodoPlantacion.tipoMetodoPlantacion }}</dd>
                            <dt class="col-6">Observación</dt>
                            <dd class="col-6">{{ metodoPlantacion.observacion }}</dd>
                          </dl>
                        </div>
                      {% endfor %}
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="v-pills-materiales-plantacion{{ loop.index }}" role="tabpanel" aria-labelledby="v-pills-home-tab">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  {% for item in expediente.predios %}
                      {% for materialPlantacion in item.materialesPlantaciones %}
                        <div class="col-md-6 border">
                          <dl class="row">
                            <dt class="col-6">Tipo Preparación del Suelo</dt>
                            <dd class="col-6">{{ materialPlantacion.tipoMaterialPlantacion }}</dd>
                            <dt class="col-6">Oservación</dt>
                            <dd class="col-6">{{ materialPlantacion.observacion }}</dd>
                          </dl>
                        </div>
                      {% endfor %}
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="v-pills-herbicidas{{ loop.index }}" role="tabpanel" aria-labelledby="v-pills-profile-tab">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  {% for item in expediente.predios %}
                      {% for herbicida in item.herbicidas %}
                        <div class="col-md-6 border">
                          <dl class="row">
                            <dt class="col-6">Nombre</dt>
                            <dd class="col-6">{{ herbicida.nombre }}</dd>
                            <dt class="col-6">Principio Activo</dt>
                            <dd class="col-6">{{ herbicida.principioActivo }}</dd>
                            <dt class="col-6">Esquema Aplicación</dt>
                            <dd class="col-6">{{ herbicida.esquemaAplicacion }}</dd>
                            <dt class="col-6">Acción</dt>
                            <dd class="col-6">{{ herbicida.accion }}</dd>
                            <dt class="col-6">Dosis</dt>
                            <dd class="col-6">{{ herbicida.dosis }}</dd>
                            <dt class="col-6">Período Realización</dt>
                            <dd class="col-6">{{ herbicida.periodoRealizacion }}</dd>
                          </dl>
                        </div>
                      {% endfor %}
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="v-pills-fertilizantes{{ loop.index }}" role="tabpanel" aria-labelledby="v-pills-messages-tab">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  {% for item in expediente.predios %}
                      {% for fertilizante in item.fertilizantes %}
                        <div class="col-md-6 border">
                          <dl class="row">
                            <dt class="col-6">Nombre Producto</dt>
                            <dd class="col-6">{{ fertilizante.nombreProducto }}</dd>
                            <dt class="col-6">Dosis</dt>
                            <dd class="col-6">{{ fertilizante.dosis }}</dd>
                            <dt class="col-6">Esquema Aplicación</dt>
                            <dd class="col-6">{{ fertilizante.esquemaAplicacion }}</dd>
                            <dt class="col-6">Período Actividad</dt>
                            <dd class="col-6">{{ fertilizante.periodoActividad }}</dd>
                            <dt class="col-6">Proporción</dt>
                            <dd class="col-6">{{ fertilizante.proporcion }}</dd>
                          </dl>
                        </div>
                      {% endfor %}
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="v-pills-control-malezas{{ loop.index }}" role="tabpanel" aria-labelledby="v-pills-settings-tab">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  {% for item in expediente.predios %}
                      {% for controlMaleza in item.controlMalezas %}
                        <div class="col-md-6 border">
                          <dl class="row">
                            <dt class="col-6">Nombre Producto</dt>
                            <dd class="col-6">{{ controlMaleza.nombreProducto }}</dd>
                            <dt class="col-6">Acción</dt>
                            <dd class="col-6">{{ controlMaleza.accion }}</dd>
                            <dt class="col-6">Principio Activo</dt>
                            <dd class="col-6">{{ controlMaleza.principioActivo }}</dd>
                            <dt class="col-6">Dosis</dt>
                            <dd class="col-6">{{ controlMaleza.dosis }}</dd>
                            <dt class="col-6">Tipo Control Malezas</dt>
                            <dd class="col-6">{{ controlMaleza.tipoControlMalezas }}</dd>
                            <dt class="col-6">Período</dt>
                            <dd class="col-6">{{ controlMaleza.periodo }}</dd>
                          </dl>
                        </div>
                      {% endfor %}
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="v-pills-control-plagas{{ loop.index }}" role="tabpanel" aria-labelledby="v-pills-home-tab">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  {% for item in expediente.predios %}
                      {% for controlPlaga in item.controlPlagas %}
                        <div class="col-md-6 border">
                          <dl class="row">
                            <dt class="col-6">Nombre</dt>
                            <dd class="col-6">{{ controlPlaga.nombre }}</dd>
                            <dt class="col-6">Principio Activo</dt>
                            <dd class="col-6">{{ controlPlaga.principioActivo }}</dd>
                            <dt class="col-6">Acción</dt>
                            <dd class="col-6">{{ controlPlaga.accion }}</dd>
                            <dt class="col-6">Nombre Plaga</dt>
                            <dd class="col-6">{{ controlPlaga.nombrePlaga }}</dd>
                            <dt class="col-6">Período</dt>
                            <dd class="col-6">{{ controlPlaga.periodo }}</dd>
                            <dt class="col-6">Dosis</dt>
                            <dd class="col-6">{{ controlPlaga.dosis }}</dd>
                          </dl>
                        </div>
                      {% endfor %}
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="v-pills-migracion{{ loop.index }}" role="tabpanel" aria-labelledby="v-pills-profile-tab">
            Datos Migración
          </div>
        </div>
  		</div>
      <div class="col-md-2">
        <div class="nav flex-column nav-pills border border-secondary" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-general{{ loop.index }}" role="tab" aria-controls="v-pills-home" aria-selected="true">General</a>
          <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-sistematizacion{{ loop.index }}" role="tab" aria-controls="v-pills-profile" aria-selected="false">Sistematización</a>
          <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-preparacion-suelo{{ loop.index }}" role="tab" aria-controls="v-pills-messages" aria-selected="false">Preparación del suelo</a>
          <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-metodos-plantacion{{ loop.index }}" role="tab" aria-controls="v-pills-settings" aria-selected="false">Métodos de Plantación</a>
          <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-materiales-plantacion{{ loop.index }}" role="tab" aria-controls="v-pills-settings" aria-selected="false">Materiales Plantación</a>
          <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-herbicidas{{ loop.index }}" role="tab" aria-controls="v-pills-settings" aria-selected="false">Herbicidas</a>
          <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-fertilizantes{{ loop.index }}" role="tab" aria-controls="v-pills-settings" aria-selected="false">Fertilizantes</a>
          <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-control-malezas{{ loop.index }}" role="tab" aria-controls="v-pills-settings" aria-selected="false">Control de malezas</a>
          <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-control-plagas{{ loop.index }}" role="tab" aria-controls="v-pills-settings" aria-selected="false">Control de plagas</a>
          <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-migracion{{ loop.index }}" role="tab" aria-controls="v-pills-settings" aria-selected="false">Datos de Migración</a>
        </div>
      </div>
  	</div>
  {% endfor %}
</div>
