{% block historialContablePrototype %}
<td>
  <div class="col-sm-12">
    {{ form_widget(form.fechaInicio) }}
    {{ form_errors(form.fechaInicio) }}
  </div>
</td>
{% if expediente.agrupador == true %}
<td>
  <div class="form-row">
    <div class="col-md-8 mb-3">
      {{form_widget(form.titularAgrupado)}}
    </div>
    <div class="col-md-4 mb-3">
      <div class="form-row">
        <div class="col-md-6">
          <button id="add-titular-agrupado" data-index='{{form.vars.name}}' data-name="appbundle_expedientes_historialContables_" class="btn btn-default add-titular-agrupado" type="button" data-toggle="modal" data-target="#titular-agrupado-modal">
            <span class="fa fa-search" aria-hidden="true"></span>
          </button>
        </div>
        <div class="col-md-6">
          <button id="remove-titular-agrupado" data-index='{{form.vars.name}}' data-name="appbundle_expedientes_historialContables_" class="btn btn-default remove-titular-agrupado" type="button">
            <span class="fa fa-remove" aria-hidden="true"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
  {{form_widget(form.titular_agrupado_id)}}
</td>
{% endif %}
{% if expediente.plurianual %}
<td>
    <div class="col-sm-12">
      {{ form_widget(form.etapa) }}
      {{ form_errors(form.etapa) }}
    </div>
</td>
{% endif %}
<td>
    <div class="col-sm-12">
      {{ form_widget(form.observacion) }}
      {{ form_errors(form.observacion) }}
    </div>
</td>
  <td>
    <a class="btn btn-danger btn-sm pull-right remove-historial-contable remove_nested_fields" data-association="historial_contables">
      <span class="fa fa-remove text-white" aria-hidden="true"></span>
    </a>
  </td>
{% endblock %}
