{% block actividadInspeccionadaPrototype %}
  <td>
    <div class="col-sm-12">
      {{ form_row(form.especie) }}
      {{ form_errors(form.especie) }}
    </div>
  </td>
  <td>
      <div class="col-sm-12">
        {{ form_row(form.superficieHa) }}
        {{ form_errors(form.superficieHa) }}
      </div>
  </td>
  <td>
    <div class="col-sm-12">
      {{ form_row(form.densidad) }}
      {{ form_errors(form.densidad) }}
    </div>
  </td>
  <td>
      <div class="col-sm-12">
        {{ form_row(form.fechaInicio) }}
        {{ form_errors(form.fechaInicio) }}
      </div>
  </td>
  <td>
      <div class="col-sm-12">
        {{ form_row(form.fechaFin) }}
        {{ form_errors(form.fechaFin) }}
      </div>
  </td>
  <td>
      <div class="col-sm-12">
        {{ form_row(form.departamento) }}
        {{ form_errors(form.departamento) }}
      </div>
  </td>
  <td>
      <div class="col-sm-12">
        {{ form_row(form.tipoActividad) }}
        {{ form_errors(form.tipoActividad) }}
      </div>
  </td>
  <td>
      <div class="col-sm-12">
        {{ form_row(form.responsableId) }}
        {{ form_errors(form.responsableId) }}
      </div>
  </td>
  <td>
      <div class="col-sm-12">
        {{ form_row(form.fechaInspeccion) }}
        {{ form_errors(form.fechaInspeccion) }}
      </div>
  </td>
  <td>
      <div class="col-sm-12">
        {{ form_row(form.tipoInspeccion) }}
        {{ form_errors(form.tipoInspeccion) }}
      </div>
  </td>
  <td>
      <div class="col-sm-12">
        {{ form_row(form.observacion) }}
        {{ form_errors(form.observacion) }}
      </div>
  </td>
  <td>
    <a class="btn btn-danger btn-sm pull-right remove-actividad-inspeccionada remove_nested_fields" data-association="actividades_plantaciones">
      <span class="fa fa-remove text-white" aria-hidden="true"></span>
    </a>
  </td>
{% endblock %}
