<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Actividad</th>
      <th scope="col">Especie</th>
      <th scope="col">Superficie(ha).</th>
      <th scope="col">Densidad</th>
      {% if expediente.plurianual %}
        <th scope="col">Etapa</th>
      {% endif %}
      {% if expediente.agrupador %}
        <th scope="col">Titular Agrupado</th>
      {% endif %}
      <th scope="col">Fecha de Realización</th>
      {% if expediente.plurianual == true and ('actividadesInspeccionadas' in roles) %}<th scope="col"></th>{% endif %}
    </tr>
  </thead>
  <tbody>
    {% for actividadInspeccionada in actividadesInspeccionadas %}
    <tr>
      <td>{{ actividadInspeccionada.id }}</a></td>
      <td>{{ actividadInspeccionada.tipoActividad }}</td>
      <td>{{ actividadInspeccionada.especie }}</td>
      <td>{{ actividadInspeccionada.superficieHa }}</td>
      <td>{{ actividadInspeccionada.densidad }}</td>
      {% if expediente.plurianual %}
        <td>{{actividadInspeccionada.etapa}}</th>
      {% endif %}
      {% if expediente.agrupador %}
        <td>{% if actividadInspeccionada.titularAgrupado %}<a href="{{path('titulares_show', { 'id': actividadInspeccionada.titularAgrupado.id })}}">{{actividadInspeccionada.titularAgrupado}}</a>{% endif %}</th>
      {% endif %}
      <td>{% if actividadInspeccionada.fechaInspeccion %}{{ actividadInspeccionada.fechaInspeccion|date('m-Y') }}{% endif %}</td>
      {% if (expediente.plurianual == true or expediente.agrupador) and ('actividadesInspeccionadas' in roles) %}
        <td>
          <a href="#" data-toggle="modal" data-modal="editItem" data-type="actividadesinspeccionadas" data-modal-name='actividadInspeccionadaModal' data-id="{{expediente.id}}" data-item='{{actividadInspeccionada.id}}'>
            <span class="fa fa-edit" aria-hidden="true"></span>
          </a>
          <a href="" class="removeItem" data-type="actividadesinspeccionadas" data-item='{{actividadInspeccionada.id}}' data-message='¿Está seguro que desea eliminar la Actividad Inspeccionada?'>
            <span class="fa fa-remove" aria-hidden="true"></span>
          </a>
        </td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
