<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Actividad</th>
      <th scope="col">Especie</th>
      <th scope="col">Superficie(ha).</th>
      <th scope="col">Densidad</th>
      {% if expediente.plurianual %}
        <th scope="col">Etapa</th>
      {% endif %}
      {% if expediente.agrupador %}
        <th scope="col">Titular Agrupado</th>
      {% endif %}
      <th scope="col">Fecha de Realización</th>
    </tr>
  </thead>
  <tbody>
    {% for actividadInspeccionada in actividadesInspeccionadas %}
    <tr>
      <td>{{ actividadInspeccionada.id }}</a></td>
      <td>{{ actividadInspeccionada.tipoActividad }}</td>
      <td>{{ actividadInspeccionada.especie }}</td>
      <td>{{ actividadInspeccionada.superficieHa }}</td>
      <td>{{ actividadInspeccionada.densidad }}</td>
      {% if expediente.plurianual %}
        <td>{{actividadInspeccionada.etapa}}</th>
      {% endif %}
      {% if expediente.agrupador %}
        <td>{% if actividadInspeccionada.titularAgrupado %}<a href="{{path('titulares_show', { 'id': actividadInspeccionada.titularAgrupado.id })}}">{{actividadInspeccionada.titularAgrupado}}</a>{% endif %}</th>
      {% endif %}
      <td>{% if actividadInspeccionada.fechaInspeccion %}{{ actividadInspeccionada.fechaInspeccion|date('m-Y') }}{% endif %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
