<table class="table">
  <thead>
    <tr>
      <th scope="col">Resolución</th>
      <th scope="col">Fecha Entrada</th>
      <th scope="col">Fecha Salida</th>
      <th scope="col">Fecha Carga</th>
      {% if expediente.agrupador %}
        <th scope="col">Titular Agrupado</th>
      {% endif %}
      {% if expediente.plurianual %}
        <th scope="col">Etapa</th>
      {% endif %}
      <th scope="col">Observación</th>
    </tr>
  </thead>
  <tbody>
    {% for item in impactosAmbientales %}
      <tr>
        <td>{{item.resolucionNumero}}</td>
        <td>{{item.fechaEntrada|date('d-m-Y')}}</td>
        <td>{{item.fechaSalida|date('d-m-Y')}}</td>
        <td>{{item.fechaRealCarga|date('d-m-Y')}}</td>
        {% if expediente.agrupador %}
          <td>{% if item.titularAgrupado %}<a href="{{path('titulares_show', { 'id': item.titularAgrupado.id })}}">{{item.titularAgrupado}}</a>{% endif %}</th>
        {% endif %}
        {% if expediente.plurianual %}
        <td>{{item.etapa}}</td>
        {% endif %}
        <td>{{item.observacion}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
