<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Resolución</th>
      <th scope="col">Fecha Entrada</th>
      <th scope="col">Fecha Salida</th>
      <th scope="col">Fecha Carga</th>
      {% if expediente.agrupador %}
        <th scope="col">Titular Agrupado</th>
      {% endif %}
      {% if expediente.plurianual %}
        <th scope="col">Etapa</th>
      {% endif %}
      <th scope="col">Observación</th>
    </tr>
  </thead>
  <tbody>
    {% for item in impactosAmbientales %}
      <tr>
        <td>{{item.resolucionNumero}}</td>
        <td>{{item.fechaEntrada|date('d-m-Y')}}</td>
        <td>{{item.fechaSalida|date('d-m-Y')}}</td>
        <td>{{item.fechaRealCarga|date('d-m-Y')}}</td>
        {% if expediente.agrupador %}
          <td>{% if item.titularAgrupado %}<a href="{{path('titulares_show', { 'id': item.titularAgrupado.id })}}">{{item.titularAgrupado}}</a>{% endif %}</th>
        {% endif %}
        {% if expediente.plurianual %}
        <td>{{item.etapa}}</td>
        {% endif %}
        <td>{{item.observacion}}</td>
        {% if (expediente.plurianual == true or expediente.agrupador) and ('impactosAmbientales' in roles) %}
        <td>
          <a href="#" data-toggle="modal" data-modal="editItem" data-type="impactosambientales" data-modal-name='impactosAmbientalesModal' data-id="{{expediente.id}}" data-item='{{item.id}}'>
            <span class="fa fa-edit" aria-hidden="true"></span>
          </a>
          <a href="" class="removeItem" data-type="impactosambientales" data-item='{{item.id}}' data-message='¿Está seguro que desea eliminar el Impacto Ambiental?'>
            <span class="fa fa-remove" aria-hidden="true"></span>
          </a>
        </td>
        {% endif %}
      </tr>
    {% endfor %}
  </tbody>
</table>
