<div class="table-responsive">
  <table id="impactos_ambientales" class="table table-striped">
    <thead>
      <tr>
        <th>Aprobado</th>
        <th>Resolución Número</th>
        <th>Fecha</th>
        {% if expediente.agrupador  %}
          <th>Titular Agrupador</th>
        {% endif %}
        <th>Observacion</th>
        <th></th>
      </tr>
    </thead>
    <tbody class="impactosAmbientales" data-index="{{ impactosAmbientales|length }}" data-prototype="{% filter escape %}{% include 'impactos_ambientales/prototype.html.twig' with {'form': impactosAmbientales.vars.prototype } %}{% endfilter %}">
      {% if impactosAmbientales %}
        {% for key, tag in impactosAmbientales %}
        <tr class="fields">
          <td>
          	<div class="col-sm-12">
          		{{ form_widget(tag.aprobado) }}
              {{ form_errors(tag.aprobado) }}
          	</div>
          </td>
          <td>
          	<div class="col-sm-12">
          		{{ form_widget(tag.resolucionNumero) }}
              {{ form_errors(tag.resolucionNumero) }}
          	</div>
          </td>
          <td>
          		<div class="col-sm-12">
          			{{ form_widget(tag.fechaEntrada) }}
                {{ form_errors(tag.fechaEntrada) }}
          		</div>
          </td>
          {% if expediente.agrupador == true %}
            <td>
              <div class="form-row">
                <div class="col-md-8 mb-3">
                  {{form_widget(tag.titularAgrupado)}}
                </div>
                <div class="col-md-4 mb-3">
                  <div class="form-row">
                    <div class="col-md-6">
                      <button id="add-titular-agrupado" data-index='{{key}}' data-name="appbundle_expedientes_impactosAmbientales_" class="btn btn-default add-titular-agrupado" type="button" data-toggle="modal" data-target="#titular-agrupado-modal">
                        <span class="fa fa-search" aria-hidden="true"></span>
                      </button>
                    </div>
                    <div class="col-md-6">
                      <button id="remove-titular-agrupado" data-index='{{key}}' data-name="appbundle_expedientes_impactosAmbientales_" class="btn btn-default remove-titular-agrupado" type="button">
                        <span class="fa fa-remove" aria-hidden="true"></span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              {{form_widget(tag.titular_agrupado_id)}}
            </td>
          {% endif %}
          <td>
          		<div class="col-sm-12">
          			{{ form_widget(tag.observacion) }}
                {{ form_errors(tag.observacion) }}
          		</div>
          </td>
          <td>
          	<a class="btn btn-danger btn-sm pull-right remove-impacto-ambiental remove_nested_fields" data-association="impactos_ambientales">
              <span class="fa fa-remove text-white" aria-hidden="true"></span>
          	</a>
          </td>
        </tr>
      {% endfor %}
    {% endif %}
    </tbody>
  </table>
  <a id="add-impacto-ambiental" class="btn btn-primary btn-sm add_nested_fields" data-target="#impacto-ambiental" href="javascript:void(0)">
    <span class="fa fa-plus" aria-hidden="true"></span>
    Agregar Impacto Ambiental
  </a>
</div>

{% block javascripts %}
  <script src="{{ asset('js/impactos_ambientales.js') }}"></script>
{% endblock %}
