<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Actividad</th>
      <th scope="col">Especie</th>
      <th scope="col">Superficie(ha).</th>
      <th scope="col">Densidad</th>
      {% if expediente.plurianual %}
        <th scope="col">Etapa</th>
      {% endif %}
      {% if expediente.agrupador %}
        <th scope="col">Titular Agrupado</th>
      {% endif %}
      <th scope="col">Fecha de Inicio</th>
      <th scope="col">Fecha Fin de Actividad</th>
    </tr>
  </thead>
  <tbody>
    {% for actividadAprobada in actividadesAprobadas %}
    <tr>
      <td>{{ actividadAprobada.id }}</a></td>
      <td>{{ actividadAprobada.tipoActividad }}</td>
      <td>{{ actividadAprobada.especie }}</td>
      <td>{{ actividadAprobada.superficieHa }}</td>
      <td>{{ actividadAprobada.densidad }}</td>
      {% if expediente.plurianual %}
        <td>{{actividadAprobada.etapa}}</th>
      {% endif %}
      {% if expediente.agrupador %}
        <td>{% if actividadAprobada.titularAgrupado %}<a href="{{path('titulares_show', { 'id': actividadAprobada.titularAgrupado.id })}}">{{actividadAprobada.titularAgrupado}}</a>{% endif %}</th>
      {% endif %}
      <td>{% if actividadAprobada.fechaInicio %}{{ actividadAprobada.fechaInicio|date('d-m-Y') }}{% endif %}</td>
      <td>{% if actividadAprobada.fechaFinActividad %}{{ actividadAprobada.fechaFinActividad|date('d-m-Y') }}{% endif %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
