<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Enviado</th>
        <th scope="col">Fecha Actualización</th>
        <th scope="col">Inicio</th>
        <th scope="col">Fin</th>
        <th scope="col">Observaciones</th>
        <th scope="col">Informe</th>
      </tr>
    </thead>
    <tbody>
      {% for item in historialLegales %}
        <tr>
          <td>{{item.areaEnviadoExpediente}}</td>
          <td>{{item.fechaUltimaModificacion|date('d-m-Y')}}</td>
          <td>{{item.fechaInicio|date('d-m-Y')}}</td>
          <td>{{item.fechaFin|date('d-m-Y')}}</td>
          <td>{{item.observacion}}</td>
          <td>
            {% if item.informes.last %}
              <a href="{{path('informeslegales_show', { 'expedienteId': item.expediente.id,'id': item.informes.last.id })}}" target="_blank"><span class="fa fa-file" aria-hidden="true"></span></a>
            {% else %}
              <a href="{{path('informeslegales_new', { 'expedienteId': item.expediente.id,'actividadId': item.id })}}" target="_blank"><span class="fa fa-plus" aria-hidden="true"></span></a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
