<table class="table">
  <thead>
    <tr>
      <th scope="col">Especie</th>
      <th scope="col">Intervención</th>
      <th scope="col">Edad</th>
      <th scope="col">Superficie Pulpable</th>
      <th scope="col">Superficie Aserrable</th>
      <th scope="col">Superficie Laminable</th>
    </tr>
  </thead>
  <tbody>
    {% for item in produccionesVolumetricas %}
      <tr>
        <td>{{item.especie}}</td>
        <td>{{item.intervencion}}</td>
        <td>{{item.edad}}</td>
        <td>{{item.superficiePulpable}}</td>
        <td>{{item.superficieAserrable}}</td>
        <td>{{item.superficieLaminable}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
