<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Tipo Documentacion</th>
      <th scope="col">Observacion</th>
      {% if expediente.plurianual %}
        <th scope="col">Etapa</th>
      {% endif %}
      {% if expediente.agrupador %}
        <th scope="col">Titular Agrupado</th>
      {% endif %}
      <th scope="col">Fecha Presentacion</th>
    </tr>
  </thead>
  <tbody>
    {% for item in documentacion %}
     <tr>
       <td>{{item.id}}</td>
       <td>{{item.tipoDocumentacion}}</td>
       <td>{{item.observacion}}</td>
       {% if expediente.plurianual %}
         <td>{{item.etapa}}</th>
       {% endif %}
       {% if expediente.agrupador %}
        <td>{% if item.titularAgrupado %}<a href="{{path('titulares_show', { 'id': item.titularAgrupado.id })}}">{{item.titularAgrupado}}</a>{% endif %}</th>
       {% endif %}
       <td>{{item.fechaPresentacion|date('d-m-Y')}}</td>
       {% if (expediente.plurianual == true or expediente.agrupador) and ('documentaciones' in roles) %}
       <td>
         <a href="#" data-toggle="modal" data-modal="editItem" data-type="documentacion" data-modal-name='documentacionModal' data-id="{{expediente.id}}" data-item='{{item.id}}'>
           <span class="fa fa-edit" aria-hidden="true"></span>
         </a>
         <a href="" class="removeItem" data-type="documentacion" data-item='{{item.id}}' data-message='¿Está seguro que desea eliminar la Documentación?'>
           <span class="fa fa-remove" aria-hidden="true"></span>
         </a>
       </td>
       {% endif %}
     </tr>
    {% endfor %}
  </tbody>
</table>
