{% extends 'base.html.twig' %}

{% block title %}{{parent()}} - Generador de Reportes{% endblock %}

{% block navbarRight %}
  {{parent()}}
{% endblock %}

{% block body %}
<div
  id="data"
  data-provincia='{% if param.provincia is defined and param.provincia %}{{param.provincia}}{% endif %}'
  data-departamento='{% if param.departamento is defined and param.departamento %}{{param.departamento}}{% endif %}'
  data-anio='{% if param.anio is defined and param.anio %}{{param.anio}}{% endif %}'
  style="display: none;">
</div>
<div class="row">
  <div class="col-md-12 bg-light">
  <h2>Generar Reporte</h2>
  {{ form_start(search_form, {'attr':{'class':'form-row'}}) }}
  	<div class="form-group col-md-5">
  		<div class="col-sm-12">
  			{{ form_widget(search_form.provincia, {'attr': {'class': 'form-control'}}) }}
  		</div>
  	</div>
    <div class="form-group col-md-5">
  		<div class="col-sm-12">
  			{{ form_widget(search_form.departamento, {'attr': {'class': 'form-control'}}) }}
  		</div>
  	</div>
    <div class="form-group col-md-2">
  		<div class="col-sm-12">
  			{{ form_widget(search_form.anio, {'attr': {'class': 'form-control'}}) }}
  		</div>
  	</div>
    <div class="from-group col-md-12 row">
      <div class="col-sm-6">
      </div>
      <div class="col-sm-6 pull-right">
        {{ form_widget(search_form.buscar) }}
      </div>
      <div class="form-group">
      </div>
    </div>
  {{ form_widget(search_form) }}
  <input type="hidden" name="_csrf_token" value="{{ csrf_token('search_form') }}">
  {{ form_end(search_form) }}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-2">
        <div class="card" >
          <h5 class="card-header text-white bg-secondary"> Expedientes</h5>
          <div class="card-body">
            <p class="card-text"><h1>{{pagination.getTotalItemCount}}</h1></p>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card" >
          <h5 class="card-header text-white bg-secondary">Actividades Presentadas</h5>
          <div class="card-body">
            <p class="card-text"><h1>{{data.actividadPresentada}}</h1></p>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card" >
          <h5 class="card-header text-white bg-secondary">Actividades Certificadas</h5>
          <div class="card-body">
            <p class="card-text"><h1>{{data.actividadCertificada}}</h1></p>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card" >
          <h5 class="card-header text-white bg-secondary">Actividades Insp.</h5>
          <div class="card-body">
            <p class="card-text"><h1>{{data.actividadInspeccionada}}</h1></p>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card" >
          <h5 class="card-header text-white bg-secondary">Actividades Pagadas</h5>
          <div class="card-body">
            <p class="card-text"><h1>{{data.actividadPagada}}</h1></p>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card" >
          <h5 class="card-header text-white bg-secondary">Monto Total Pagado</h5>
          <div class="card-body">
            <p class="card-text"><h3>$  {{data.montoPagado|round(0 , 'floor')|number_format}}</h3></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="row">
    <div class="col-md-6">
      {% if data.provincia != null %}
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">{{data.provincia.0.tipo}}</th>
            <th scope="col">Cantidad de Expedientes</th>
          </tr>
        </thead>
        <tbody>
          {% for item in data.provincia %}
            {% if item.nombre != null %}
              <tr>
                <td>
                  {{item.nombre}}
                </td>
                <td>
                  <b>{{item.cantidad}}</b>
                </td>
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
      {% endif %}
    </div>
    <div class="col-md-6">
      <div class="card">
        <canvas id="tiposActividades" width="200" height="100"></canvas>
        <div class="card-body">
          <h5 class="card-title">Tipos de Actividades por Superficie</h5>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascripts %}
  {{parent()}}
  <script src="{{asset('js/Chart.js')}}"></script>
  <script src="{{ asset('js/reportes.js') }}"></script>
{% endblock %}
