{% extends 'print.html.twig' %}

{% block body %}
<section>
  <h2>Informe Legal</h2>
  <div class="block">
    <div class="row">
      <div class="col-xs-6">
        <p><strong>Expediente Interno: </strong>{% if informeLegal is defined %}{{informeLegal.numeroInterno}}{% else %}<span id="numeroInterno"></span>{% endif %}</p>
        <p><strong>CUDAP: </strong>{% if informeLegal is defined %}{% endif %}{{informeLegal.numeroExpediente}}{% else %}<span id="numeroExpediente"></span></p>
      </div>
    </div>
  </div>
  <div class="block">
    <div class="row">
      <div class="col-xs-12 text-justify">
        <p>
          En las actuaciones mencionadas en la referencia tramita una solicitud de acogimiento al Régimen de Promoción de Plantaciones Forestales instituido por la Ley N° 25.080, el Decreto N° 133/99 y sus resoluciones reglamentarias, presentada por  <b>{% if informeLegal is defined %}{{informeLegal.titular}}{% else %}<span id="titular"></span>{% endif %}</b>, con inscripción en el Registro de Titulares bajo el N° <b>{% if informeLegal is defined %}{{informeLegal.numeroRegistroTitular}}{% else %}<span id="numeroRegistroTitular"></span>{% endif %}</b>.
        </p>
        <p>
          De conformidad con lo establecido por los artículos 9° y 10 de la Resolución SAGyP N° 33/2013, cuando las presentaciones de emprendimientos forestales no superen las DIEZ (10) has en el caso de plantación, ni las CINCUENTA (50) has de poda, raleo, manejo de rebrote, la documentación legal quedará en poder de la autoridad provincial.
        </p>
        <p>
          En virtud de la delegación dispuesta por el artículo 9° de la citada resolución dicha autoridad provincial avalará los recaudos legales y técnicos establecidos por la normativa vigente.
        </p>
        <p>
          Por todo lo expuesto, teniendo en cuenta la aprobación dispuesta por Autoridad de Aplicación Provincial, esta Asesoría Legal entiende que la solicitud de acogimiento al régimen previsto por la Ley N° 25.080, modificada por su similar N° 26.432 se encuentra en condiciones de ser <b>APROBADA</b> en sus aspectos legales.
        </p>
        <p>
          Pasen las presentes actuaciones al área {% if informeLegal is defined %}{{informeLegal.areaEnviar}}{% else %}<span id="areaEnviar"></span>{% endif %} para la prosecución de su trámite.
        </p>
      </div>
    </div>
  </div>
  <div class="block">
    <div class="row">
      <div class="col-xs-6">
        <p><strong>INFORME LEGAL N°</strong></p>
        <p><strong>BUENOS AIRES, {% if informeLegal is defined %}{{informeLegal.fechaCreacion|date('d-m-Y')}}{% else %}<span id="fechaCreacion"></span>{% endif %} </strong></p>
      </div>
    </div>
  </div>

</section>
{% endblock %}
