{% extends 'print.html.twig' %}

{% block body %}
<section>
  <h2>Informe Legal</h2>
  <div class="block">
    <div class="row">
      <div class="col-xs-6">
        <p><strong>Expediente: </strong>{{informeLegal.numeroExpediente}}</p>
        <p><strong>Número Interno: </strong>{{informeLegal.numeroInterno}}</p>
      </div>
    </div>
  </div>
  <div class="block">
    <div class="row">
      <div class="col-xs-12 text-justify">
        {% if informeLegal.parrafo1 %}
          <p>
            {{informeLegal.parrafo1|raw}}
          </p>
        {% endif %}
        {% if informeLegal.parrafo2 %}
          <p>
            {{informeLegal.parrafo2|nl2br}}
          </p>
        {% endif %}
        {% if informeLegal.parrafo3 %}
          <p>
            {{informeLegal.parrafo3|nl2br}}
          </p>
        {% endif %}
        {% if informeLegal.parrafo4 %}
          <p>
            {{informeLegal.parrafo4|nl2br}}
          </p>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="block">
    <div class="row">
      <div class="col-xs-6">
        <p><strong>INFORME LEGAL N° {{informeLegal.informeLegalNumero}} </strong></p>
        <p><strong>BUENOS AIRES, {{informeLegal.fechaCreacion|date('d-m-Y')}} </strong></p>
      </div>
    </div>
  </div>

</section>
{% endblock %}
