{% extends 'print.html.twig' %}

{% block body %}
<section>
  <h2>Informe Legal</h2>
  <div class="block">
    <div class="row">
      <div class="col-xs-6">
        <p><strong>Expediente Interno N°: </strong>{% if informeLegal is defined %}{{informeLegal.numeroInterno}}{% else %}<span id="numeroInterno"></span>{% endif %}</p>
        <p><strong>Titular: </strong>{% if informeLegal is defined %}{{informeLegal.titular}}{% else %}<span id="titular"></span>{% endif %}</p>
      </div>
    </div>
  </div>
  <div class="block">
    <div class="row">
      <div class="col-xs-12 text-justify">
        <p>
          En el expediente mencionado en la referencia, tramita una presentación de un Proyecto de Plantación y Actividades Silvícolas de Especies Forestales en Bosques Cultivados y Enriquecimiento de Bosque Nativo para Pequeños Productores, cuya reglamentación proviene de la Resolución SAGyP N° 33/2013, en el marco del Régimen de Promoción de Plantaciones Forestales instituido por la Ley N° 25.080, el Decreto N° 133/1999 y demás resoluciones reglamentarias, inscripto en el Registro de Titulares bajo el N° <b>{% if informeLegal is defined %}{{informeLegal.numeroRegistroTitular}}{% else %}<span id="numeroRegistroTitular"></span>{% endif %}</b>.
        </p>
        <p>
          <b>
            De acuerdo al análisis efectuado, teniendo en cuenta los Certificados de Obra e Inspección obrante a fs. {% if informeLegal is defined %}{{informeLegal.fs1}}{% else %}<span id="fs1"></span>{% endif %} conjuntamente con la Disposición Provincial N° {% if informeLegal is defined %}{{informeLegal.disposicionProvincialNro}}{% else %}<span id="disposicionProvincialNro"></span>{% endif %} obrante a fs. {% if informeLegal is defined %}{{informeLegal.fs2}}{% else %}<span id="fs2"></span>{% endif %}.
          </b>
        </p>
        <p>
          De conformidad con lo expuesto, corresponde señalar que el presente expediente se encuentra <b>APROBADO en esta etapa</b>, a los fines del pago de la <b>SEGUNDA</b> cuota del Apoyo Económico No Reintegrable.
        </p>
        <p>
          Pasen las presentes actuaciones al área {% if informeLegal is defined %}{{informeLegal.areaEnviar}}{% else %}<span id="areaEnviar"></span>{% endif %} para la prosecución de su trámite.
        </p>
      </div>
    </div>
  </div>
  <div class="block">
    <div class="row">
      <div class="col-xs-6">
        <p><strong>INFORME LEGAL N°</strong></p>
        <p><strong>BUENOS AIRES, {% if informeLegal is defined %}{{informeLegal.fechaCreacion|date('d-m-Y')}}{% else %}<span id="fechaCreacion"></span>{% endif %} </strong></p>
      </div>
    </div>
  </div>

</section>
{% endblock %}
