{% extends 'print.html.twig' %}

{% block body %}
<section>
  <h2>Informe Legal</h2>
  <div class="block">
    <div class="row">
      <div class="col-xs-6">
        <p><strong>Expediente Interno N°: </strong>{{informeLegal.numeroInterno}}</p>
        <p><strong>Titular: </strong>{{informeLegal.titular}}</p>
      </div>
    </div>
  </div>
  <div class="block">
    <div class="row">
      <div class="col-xs-12 text-justify">
        <p>
          En el expediente mencionado en la referencia, tramita una presentación de un Proyecto de Plantación y Actividades Silvícolas de Especies Forestales en Bosques Cultivados y Enriquecimiento de Bosque Nativo para Pequeños Productores, cuya reglamentación proviene de la Resolución SAGyP N° 33/2013, en el marco del Régimen de Promoción de Plantaciones Forestales instituido por la Ley N° 25.080, el Decreto N° 133/1999 y demás resoluciones reglamentarias, inscripto en el Registro de Titulares bajo el N° <b>{{informeLegal.numeroRegistroTitular}}</b>.
        </p>
        <p>
          De acuerdo a lo establecido en el artículo 14 de la citada Resolución SAGyP Nº 33/13, será considerado como pequeño productor aquel que esté inscripto en el Registro Nacional de Agricultura Familiar (RENAF), creado por la Resolución Nº 255 de fecha 23 de octubre de 2007 de la ex-SECRETARIA DE AGRICULTURA, GANADERIA, PESCA Y ALIMENTOS del entonces MINISTERIO DE ECONOMIA Y PRODUCCION. El productor que reúna este requisito podrá recibir un adelanto que será del CINCUENTA POR CIENTO (50%) del total del Apoyo Económico No Reintegrable correspondiente a la presentación del proyecto.
        </p>
        <p>
          simismo el artículo 18 agrega que para acceder a los beneficios de la presente resolución, el productor deberá estar inscripto en el Registro de Titulares de Emprendimientos Forestales o Forestoindustriales. (Anexo I).
        </p>
        <p>
          <b>
            Atento a los artículos citados, es dable destacar que el titular del proyecto ha cumplimentado lo requerido por la normativa vigente, por estar inscripto en el Registro Nacional de Agricultura (RENAF), bajo el número {{informeLegal.numeroRenaf}}
          </b>
        </p>
        <p>
          De conformidad con lo expuesto, el presente expediente se encuentra <b>APROBADO</b> en esta etapa, a los fines del pago de la primera cuota del Apoyo Económico No Reintegrable.
        </p>
        <p>
          Pasen las presentes actuaciones al área <b>{{informeLegal.areaEnviar}}</b> para la prosecución de su trámite.
        </p>
      </div>
    </div>
  </div>
  <div class="block">
    <div class="row">
      <div class="col-xs-6">
        <p><strong>INFORME LEGAL N° {{informeLegal.informeLegalNumero}} </strong></p>
        <p><strong>BUENOS AIRES, {{informeLegal.fechaCreacion|date('d-m-Y')}} </strong></p>
      </div>
    </div>
  </div>

</section>
{% endblock %}
