{% block stylesheets %}
  {% stylesheets "@bootstrap_css" "@fontawesome_css" %}
  <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
  <link rel="stylesheet" type="text/css" media="screen" href="/css/application.css"/>
  <link rel="stylesheet" type="text/css" media="screen" href="/css/body.css"/>
  <link rel="stylesheet" type="text/css" media="screen" href="/css/bootstrap-switch.css"/>
  <link rel="stylesheet" type="text/css" media="screen" href="/css/bootstrap-combobox.css"/>
  {% endstylesheets %}
  {% stylesheets 'bundles/app/css/*' output = 'css/compiled/main.css' %}
  <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
  {% endstylesheets %}
{% endblock %}
{% block body %}
{{ form_start(form, {'attr': {'id': 'form_estadosituaciones'}}) }}
	<div class="form-group">
		<div class="col-sm-12">
			<label>Nombre Profesional</label>
			{{ form_widget(form.nombreProfesional) }}
			{{ form_errors(form.nombreProfesional) }}
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-12">
			<label>Razón Social</label>
			{{ form_widget(form.razonSocial) }}
			{{ form_errors(form.razonSocial) }}
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-12">
			<label>Tipo Número de Documento</label>
			{{ form_widget(form.tipoNumeroDocumento) }}
			{{ form_errors(form.tipoNumeroDocumento) }}
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-12">
			<label>CUIT</label>
			{{ form_widget(form.cuit) }}
			{{ form_errors(form.cuit) }}
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-12">
			<label>Especificación Plantaciones</label>
			{{ form_widget(form.especificacionPlantaciones) }}
			{{ form_errors(form.especificacionPlantaciones) }}
		</div>
	</div>
  <div class="form-group">
		<div class="col-sm-12">
			<label>Fecha Realización</label>
			{{ form_widget(form.fecha) }}
			{{ form_errors(form.fecha) }}
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-12">
			<label>Observacion</label>
			{{ form_widget(form.observacion) }}
			{{ form_errors(form.observacion) }}
		</div>
	</div>
  {{form_end(form)}}
{% endblock %}

{% javascripts '@jquery' '@bootstrap_js' %}
<script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
<script type="text/javascript" src="{{ asset_url }}"></script>
<script src="/js/bootstrap-switch.js"></script>
<script src="/js/bootstrap-combobox.js"></script>
{% endjavascripts %}
