{% extends 'base.html.twig' %}

{% block title %}{{parent()}} - Profesionales{% endblock %}

{% block navbarRight %}
  {% if (is_granted('ROLE_ADMIN') or is_granted('ROLE_DATA_ENTRY') or is_granted('ROLE_LEGALES')) %}
    <li class="nav-item active">
      <a class="nav-link" href="{{path('profesionales_new')}}"><span class="fa fa-plus" aria-hidden="true"></span> Nuevo Profesional</a>
    </li>
  {% endif %}
  {{parent()}}
{% endblock %}


{% block body %}
<div class="row">
  <div class="col-3">
    <div class="card card-primary">
      <div class="card-header bg-info text-white">
        Buscador de Profesionales
      </div>
      <div class="card-body">
        {{ include('profesionales/search.html.twig', {'search_form':search_form}) }}
      </div>
    </div>
  </div>
  <div class="col-9">
    <h4>Listado de Profesionales</h4>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">DNI</th>
                <th scope="col">Tipo Documento</th>
                <th scope="col">CUIT</th>
                <th scope="col">Apellido Nombre</th>
                <th scope="col">Email</th>
                <th scope="col">Localidad</th>
                <th scope="col">Condicional</th>
            </tr>
        </thead>
        <tbody>
        {% for profesionale in profesionales %}
            <tr data-link="{{ path('profesionales_show', { 'id': profesionale.id }) }}">
                <td><a href="{{ path('profesionales_show', { 'id': profesionale.id }) }}">{{ profesionale.id }}</a></td>
                <td>{{ profesionale.dni }}</td>
                <td>{{ profesionale.tipoDocumento }}</td>
                <td>{{ profesionale.cuit }}</td>
                <td>{{ profesionale.apellidoNombre }}</td>
                <td>{{ profesionale.emailTitular|lower }}</td>
                <td>{{ profesionale.localidadId }}</td>
                <td>{% if profesionale.condicional %}<span class="fa fa-check"></span>{% else %}<span class="fa fa-times"></span>{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
      </table>
      {{ include('paginator/index.html.twig', {'items': profesionales}) }}
  </div>
</div>
{% endblock %}
