<hr>
{% if cobrosBeneficios %}
<div class="row">
  <div class="col-md-2">
    Cobros de Beneficios
  </div>
  <div class="col-md-10">
    <div id="accordion" class="cobrosBeneficios" data-index="{{ cobrosBeneficios|length }}" data-prototype="{% filter escape %}{% include 'cobros_beneficios/prototype.html.twig' with {'form': cobrosBeneficios.vars.prototype, 'count': cobrosBeneficios|length  } %}{% endfilter %}">
      {% for key, tag in cobrosBeneficios %}
      <div class="card">
        <div class="card-header" id="heading{{loop.index}}">
          <h5 class="mb-0">
            <a class="btn" data-toggle="collapse" href="#collapse{{loop.index}}" role="button" aria-expanded="true" aria-controls="collapse{{loop.index}}">
              Cobro Beneficio #{{loop.index}} - <b>{{tag.children.nombreBanco.vars.value}}</b>
              <a class="btn btn-danger btn-sm pull-right remove-cobros-beneficio remove_nested_fields" data-association="cobros_beneficios">
                <span class="fa fa-remove text-white" aria-hidden="true"></span>
            	</a>
            </a>
          </h5>
        </div>
        <div id="collapse{{loop.index}}" class="collapse" aria-labelledby="heading{{loop.index}}" data-parent="#accordion">
          <div class="card-body">
            {% if expediente.agrupador %}
              <div class="row">
                {{ form_label(tag.titularAgrupado) }}
                <div class="col-md-10">
                  <div class="form-row">
                    <div class="col-md-8 mb-3">
                      {{form_widget(tag.titularAgrupado)}}
                    </div>
                    <div class="col-md-4 mb-3">
                      <div class="form-row">
                        <div class="col-md-6">
                          <button id="add-titular-agrupado" data-index='{{key}}' data-name="appbundle_expedientes_cobroBeneficios_" class="btn btn-default add-titular-agrupado" type="button" data-toggle="modal" data-target="#titular-agrupado-modal">
                            <span class="fa fa-search" aria-hidden="true"></span>
                          </button>
                        </div>
                        <div class="col-md-6">
                          <button id="remove-titular-agrupado" data-index='{{key}}' data-name="appbundle_expedientes_cobroBeneficios_" class="btn btn-default remove-titular-agrupado" type="button">
                            <span class="fa fa-remove" aria-hidden="true"></span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                {{form_widget(tag.titular_agrupado_id)}}
              </div>
            {% endif %}
            <div class="row">
              {{ form_label(tag.nombreBanco) }}
              <div class="col-md-10">
                {{ form_widget(tag.nombreBanco) }}
                {{ form_errors(tag.nombreBanco) }}
              </div>
            </div>
            <div class="row">
              {{ form_label(tag.tipoCuenta) }}
              <div class="col-md-10">
                {{ form_widget(tag.tipoCuenta) }}
                {{ form_errors(tag.tipoCuenta) }}
              </div>
            </div>
            <div class="row">
              {{ form_label(tag.sucursalBanco) }}
              <div class="col-md-10">
                {{ form_widget(tag.sucursalBanco) }}
                {{ form_errors(tag.sucursalBanco) }}
              </div>
            </div>
            <div class="row">
              {{ form_label(tag.numeroCuenta) }}
              <div class="col-md-10">
                {{ form_widget(tag.numeroCuenta) }}
                {{ form_errors(tag.numeroCuenta) }}
              </div>
            </div>
            <div class="row">
              {{ form_label(tag.numeroCbu) }}
              <div class="col-md-10">
                {{ form_widget(tag.numeroCbu) }}
                {{ form_errors(tag.numeroCbu) }}
              </div>
            </div>
            <div class="row">
              {{ form_label(tag.numeroSucursal) }}
              <div class="col-md-10">
                {{ form_widget(tag.numeroSucursal) }}
                {{ form_errors(tag.numeroSucursal) }}
              </div>
            </div>
            <div class="row">
              {{ form_label(tag.domicilioSucursal) }}
              <div class="col-md-10">
                {{ form_widget(tag.domicilioSucursal) }}
                {{ form_errors(tag.domicilioSucursal) }}
              </div>
            </div>
            <div class="row">
              {{ form_label(tag.localidadId) }}
              <div class="col-md-10">
                {{ form_widget(tag.localidadId) }}
                {{ form_errors(tag.localidadId) }}
              </div>
            </div>
            <div class="row">
              {{ form_label(tag.codigoPostal) }}
              <div class="col-md-10">
                {{ form_widget(tag.codigoPostal) }}
                {{ form_errors(tag.codigoPostal) }}
              </div>
            </div>
            <div class="row">
              {{ form_label(tag.devolucionIva) }}
              <div class="col-md-10">
                {{ form_widget(tag.devolucionIva) }}
                {{ form_errors(tag.devolucionIva) }}
              </div>
            </div>
            <div class="row">
              {{ form_label(tag.cargaTributariaNacional) }}
              <div class="col-md-10">
                {{ form_widget(tag.cargaTributariaNacional) }}
                {{ form_errors(tag.cargaTributariaNacional) }}
              </div>
            </div>
            <div class="row">
              {{ form_label(tag.cargaTributariaProvincial) }}
              <div class="col-md-10">
                {{ form_widget(tag.cargaTributariaProvincial) }}
                {{ form_errors(tag.cargaTributariaProvincial) }}
              </div>
            </div>
            <div class="row">
              {{ form_label(tag.cargaTributariaMunicipal) }}
              <div class="col-md-10">
                {{ form_widget(tag.cargaTributariaMunicipal) }}
                {{ form_errors(tag.cargaTributariaMunicipal) }}
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}
<div class="row">
  <div class="col-md-12">
    <div class="pull-right">
      <button type="button" class="btn btn-secondary btn-xs" data-toggle="modal" data-target="#cobro-beneficios-modal" id="add-cobro-beneficio">
        <span class="fa fa-plus" aria-hidden="true"></span>
        Agregar Cobro Beneficios
      </button>
    </div>
  </div>
</div>
<hr>
{% block javascripts %}
  <script src="{{ asset('js/cobros_beneficios.js') }}"></script>
{% endblock %}
